

<nav>
    <header>
        <div class="title">
            <h3>Capítulo 1: <br>La Noción de Sujeto en Hegel</h3>
            <h3 class="logo">O T M </h3>
        </div>
        
        <div class="links">
            <a routerLink=""> <i class="fas fa-home"></i> Home</a>
            <a routerLink="/caps"> <i class="fas fa-boxes"></i> Capitulos</a>
            <a routerLink="/login"><i class="fas fa-microphone-alt"></i>   PODCAST</a>
            <a routerLink="../pag11"><i class="fas fa-users"></i>   REFERENCIAS</a>
        </div>  
    </header>   
    
    <app-pagination></app-pagination>
        
</nav>


<router-outlet></router-outlet>
<app-pagination></app-pagination>
<footer>
    <p>Proyecto de Investigación &copy; 2020</p>
</footer>