
<div class="portada">   

    <div class="content">
        <div class="main-title">
            <h1>Capítulo 1: <br>La Noción de Sujeto en Hegel</h1>
            <p>Que lo verdadero no se exprese como sustancia, sino también y en la misma medida como sujeto.</p>
        </div>        
    </div>    

</div>

<div class="extras">
    <div>
        <i class="fas fa-share-alt fa-3x"></i>
        <p>Compartir</p>
    </div>
    <div>
        <i class="far fa-comment-alt fa-3x"></i>
        <p>Comentar</p>
    </div>
    <div>
        <i class="fas fa-file-alt fa-3x"></i>
        <p>Descargar pdf</p>
    </div>
    <div>
        <i class="fas fa-couch fa-3x"></i>
        <p>Consulta Online</p>
    </div>

</div>

