

<div class="paginas">
    <a routerLink="./page1" routerLinkActive="active">1</a>
    <a routerLink="./page2" routerLinkActive="active">2</a>
    <a routerLink="./page3" routerLinkActive="active">3</a>
    <a routerLink="./page4" routerLinkActive="active">4</a>
    <a routerLink="./page5" routerLinkActive="active">5</a>
    <a routerLink="./page6" routerLinkActive="active">6</a>
    <a routerLink="./page7" routerLinkActive="active">7</a>
    <a routerLink="./page8" routerLinkActive="active">8</a>
    <a routerLink="./page9" routerLinkActive="active">9</a>
    <a routerLink="./page10" routerLinkActive="active">10</a>
</div>  