.paginas {
    background-color: #0993b3;
    text-align: center;
    margin-top: 3px;
    padding: 1px;
}
.paginas a {
    text-decoration: none;
    color: #ffff;
    font-size: 0.8rem;
    padding: 3px 10px;
}
.paginas a:hover {
    background-color: #ff0063;
}
.active {
    background-color: #ff0063;
}