<div class="pagina">
    <div class="back">
        <a routerLink="../p9"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>

    <div class="page-content">
        <app-cabecero2></app-cabecero2>
        <p>En la segunda meditación nos encontramos
            con <b>el Campo trascendental de la
            experiencia,</b>  y es que en cada experiencia
            sensible, cualquiera de ellas, se nos presentan
            a un mismo tiempo la totalidad del universo
            que hace posible que eso que se nos presenta
            efectivamente pueda ocurrir en ese modo.</p>
        <p>Si nos detenemos un poco en una
            experiencia corriente como la de la percepción
            de la propia sala en la que nos encontremos,
            nos percatamos de que aun cuando el edificio
            entero no esta en nuestro campo visible, su
            consistencia y nuestra experiencia de realidad
            es tan firme como la de la propia sala en la
            que nos encontramos y de la que tenemos
            experiencias sensibles.</p>
        <p>De igual manera aludimos a ese espacio
            como siendo algo especifico, por ejemplo;
            una sala de conferencias, y sabemos que es
            una sala de conferencias no por sus muebles
            o por el material de sus muebles o por estar
            en la universidad, todo eso es importante
            sin duda, por que nuestra idea de sala de
            conferencias forma parte de un campo entero
            de ideas desde el que podemos reconocer si
            al abrir una puerta nos encontramos con unos
            servicios o con una aula académica o en una
            sala de conferencias.</p>
        <p class="cita">Husserl dice: -El universo está
            constantemente incluido en la unidad</p>
        <p>La experiencia sensible de estar en la sala
            ocurre en relacion a la estructura de ideas en
            función de la cual esa experiencia en concreto
            es una de sus posibilidades. Su valor radica en
            que ya es el resultado de una estructura en
            funcionamiento, por ello tiene mucho sentido
            que Husserl le de el valor de apodíctico,
            innegable. El fenómeno sensible es el punto
            de partida de una investigación, por lo que el
            análisis se puede orientar a lo que hace que
            esa experiencia efectivamente haya podido
            ocurrir.</p>
        <p class="cita">¡ahora algo increíble!
            Husserl dice; La reflexión altera la
            vivencia primitiva</p>
        <p>Tomemos en cuenta que nuestro recorrido
            hasta aquí nos indica que la vivencia está en
            función del conjunto de ideas que habilita
            aquello de lo que hablamos, sean objetos
            como la sala de conferencias, situaciones
            más abstractas como la culpa, la vergüenza,
            el fracaso, el éxito, etc. aquello que determina
            que sean lo que son, no es la materialidad
            de los objeto, sino el conjunto de ideas. Con
            lo cual, con un mismo conjunto de datos se
            pueden hacer vivencias distintas, pero no por
            que subjetivamente podamos darle distinto
            valor a un mismo hecho, Husserl lo que
            describe es que el hecho es otro, la vivencia
            es otra, por ello puede afirmar con rigurosidad
            que la reflexión altera la vivencia, y reiteramos,
            12 Cap. 2 El sujeto en Husserl
            TFM El sujeto de la ψ auténtica
            no la opinión de la vivencia sino la
            vivencia misma.</p>
        <p>No es que pasemos de una
            experiencia verdadera a otra
            más verdadera, ambas en
            su condición de experiencia
            son apodícticamente
            verdaderas, pero ambas
            son, dice Husserl,<b>apariencia de realidad.</b>
             No
            por que haya una algo firme
            y eso solo sea apariencia,
            lo extravagante y fantástico
            del modelo que está trabajando
            Husserl es que; <b>solo hay apariencia
            de realidad.</b></p>
        <p>Y con esto llegamos a un punto magnifico
            de cara a la práctica clínica; por el mismo hilo
            argumentativo por el que <b>no recurrimos a los
            hechos para corroborar cuan real es el relato
            del paciente, tampoco podemos recurrir a la
            teoría.</b> No podemos colocar allí donde antes
            estaba la supuesta realidad ahora colocar la
            teoría y desde ella explicar una especie realidad
            oculta, como si lo que dice el paciente con la
            estructura de ideas que habilitan esa lectura
            fuese menos valida que la teoría del psicólogo,
            lo que tendría la horrible consecuencia de
            orientar el tratamiento a convencer al paciente
            de que las cosas son como dice la teoría que
            estudio el psicólogo (y esperanzarse a que
            eso cambie la vivencia), lo que de inmediato
            reduce la practica clínica a una conversación
            corriente en la que uno quiere convencer a
            otro de su opinión.</p>
        <p>En la <b>tercera meditación</b> Husserl reformula
            el estatuto de la verdad y la realidad en función
            del avance de su trabajo, y su posición es la
            siguiente:</p>
        <p>Para nosotros tiene sentido la noción
            de realidad o de verdad, únicamente por la
            condición ontológica y formal de los conceptos.
            Agrega también que toda razón surge, brota
            dice él, de la subjetividad trascendental,
            aquella que se logra después de atravesar
            por el método fenomenológico, y sobre todo
            de su famosa epohé. en el campo clínico
            podríamos decir que se trata de un
            cierto movimiento al atravesar el
            análisis.</p>
        <p>Por otro lado, es de gran
            importancia su propuesta
            respecto al horizonte
            de la experiencia, pues
            este horizonte aclara la
            realidad del mundo, en
            tanto el mundo y cada uno
            de sus objetos no es más
            pero tampoco menos que,
            como lo dice Husserl, una idea
            infinita.</p>
    </div>

    <div class="next">
        <a routerLink="../p11"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>