<div class="pagina">
    <div class="back">
        <a routerLink="../p7"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <app-cabecero2></app-cabecero2>
        <div class="boxes">
            <div class="box-1">
                <h4><p>Diferenciar entre TEORIA y LEY CIENTIFICA.</p></h4>
                
            </div>
            <div class="box-2">
               <h4>Teoría:</h4>
               <p>Es un conjunto coherente de
                explicaciones, nociones, ideas sobre un campo
                especifico, como resultado del debate científico,
                basado en evidencias observables teorética y
                experimentalmente. Cabe mencionar que una
                teoría no es la solución de un problema sino la
                posibilidad de pensarlo.</p>
                <h4>Ley científica:</h4>
                <p>Es una proposición que
                    afirma la relación constante entre variables.
                    Normalmente expresada en forma de ecuación
                    matemática.</p>
                <p>F = m a 2º ley de Newton<br>
                    (a + m) Ψ = 0 Ecuación de Dirac</p>
                <p>Entonces, para entender que permanentemente
                    se experimenta desde el yo, como
                    lo indica Husserl, hay que percatarse de que
                    la Teoría es el modo en el que hacemos perceptible
                    la experiencia. Desde ese conjunto
                    de ideas hacemos posible diferenciar entre
                    los datos que sin la teoría son neutros. Pero
                    la teoría va cambiando a medida que la vamos
                    construyendo, en la medida en la que tenemos
                    más datos, refutamos sus argumentos,
                    reformulamos otros, etc. lo que conlleva por
                    supuesto efectos en el campo de experiencias
                    posibles.</p>
                <p>Respecto al sujeto, en el sentido que nos
                    ocupa en nuestra investigación y al trabajo
                    clínico.</p>
                <p class="cita">Ahora bien, es inevitable denominar
                    también psíquicos o considerar como
                    objetos de la psicología a los sujetos
                    reales, en sentido estricto (p. 201).</p>
                <p>El paciente, la persona de carne y hueso
                    que acude a consulta, a aquel de quien hablamos
                    en un análisis. A ese sujeto real, nos dice
                    Husserl; hay que considerarlo como objeto de
                    la psicología. entendamos que en este punto
                    Husserl pone como objeto de la psicología a
                    lo que se va a estudiar formalmente, que va a
                    quedar muy por fuera de la experiencia sensible.
                    Nos dice:</p>
                <p class="cita">A la realidad tética ya no tenemos que
                    hacerle ninguna pregunta, ya no esta allí
                    como sujeto de un juicio (p. 210).</p>
                <p>Orientación clínica fundamental. El sujeto
                    que se presenta a consulta y la realidad que
                    nos describe no tiene por que ser cuestionada.
                    Si el paciente, amigo o familiar relata que
                    en su casa, en el trabajo, en la escuela sufre
                    de tal o cual cosa, reiteramos lo dicho; no se
                    trata para nada, formalmente hablando, de ir
                    a corroborar en la realidad tética si eso que
                    nos dice es cierto. Lo que hay que investigar es
                    acerca de los elementos esenciales que alberga
                    la percepción del paciente, que siguiendo
                    el trabajo de Husserl, es una pregunta por el
                    noema de la percepción.</p>
                <p>Con lo cual, el sujeto que se presenta en
                    consulta es lo que Husserl plantea como sujeto
                    apofántico.</p>
                <p class="cita">Pag. 222 lo presentado en cuanto tal
                    recibe la forma de sujeto apofántico</p>
                <p>Se recoge como verdadero bajo los propios
                    elementos teóricos que conlleva su relato, por
                    que no hay relato por fuera de una teoría.
                    En lo que consiste el análisis es en acompañar
                    ese relato para analizar la relación de sus
                    elementos en función de lo que el propio paciente
                    describe, no para compararlo con otras
                    teorías que nos parezcan mejores sino para
                    acompañar la propia interrogación del paciente
                    con respecto a sus propios modos de recoger
                    la realidad.</p>
                <p>En la cuarta y última sección nos dice que
                    la cosa o el sujeto en sí mismo, su materialidad
                    y todos los elementos que podamos predicar
                    de él, se componen fundamentalmente, de
                    10 Cap. 2 El sujeto en Husserl
                    TFM El sujeto de la ψ auténtica
                    determinaciones noemáticas. Por ello Husserl
                    propone que la cosa esta referida necesariamente
                    a una comunidad de sujetos.</p>
                <p class="cita">p. 351 La cosa es entonces sujeto de
                    determinaciones noemáticas</p>
            </div>
        </div>
        
        <footer>
            <hr>
            <p>Cap. 2 | La Noción de Sujeto en Husserl</p>
        </footer>
    </div>
    <div class="next">
        <a routerLink="../p9"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>