<div class="pagina">
    <div class="back-page">
        <a routerLink="../pag10"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    
    <div class="page-content">
        <h5>BIBLIOGRAFIA</h5>
        <div class="boxes">
            <div class="box-1">
                <h6>Georg Wilhelm Friedrich Hegel</h6>
            </div>
            <div class="box-2">
                <ul>
                    <li>Enciclopedia De Las Ciencias Filosóficas. 1997 Alianza Editorial. Madrid España.</li>
                    <li>Fenomenología del Espiritu. primera edición en alemán 1807. Primera edición en español 1966
                        Fondo de cultura económica. México D.F.</li>
                    <li>Elements of the Philosophy of Right [Philosophie des Rechts], edited by Allen W. Wood and
                        translated by H.B. Nisbet, Cambridge: Cambridge University Press, 1991.</li>
                    <li>The Science of Logic. [Wissenschaft der Logik], translated by George di Giovanni, New York:
                        Cambridge University Press, 2010.</li>
                </ul>
            </div>
        </div>
        <div class="boxes">
            <div class="box-1">
                <h6>Otras Referencias</h6>
            </div>
            <div class="box-2">
                <ul>
                    <li>Maybee, Julie E., “Hegel’s Dialectics”, The Stanford Encyclopedia of Philosophy (Winter 2016
                        Edition), Edward N. Zalta (ed.).</li>
                    <li>Emile Benveniste. Problemas de Lingüística General. siglo veintiuno editores, 19ª edición. 1997.
                        Madrid España.</li>
                    <li>Kojéve, Alexandre, La dialéctica del amo y del esclavo en Hegel, Buenos Aires, La Pléyade, 1982</li>
                </ul>
            </div>
        </div>
        
    </div>
    <div class="next-page">
        <a routerLink="../"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
    
</div>