<div class="pagina">
    <div class="back">
        <a routerLink="../p8"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>

    <div class="page-content">
        <app-cabecero2></app-cabecero2>
        <div class="boxes">
            <div class="box-1">
                <h4>LA NOCIÓN DE SUJETO EN HUSSERL</h4>
            </div>
            <div class="box-2">
                <p>En <b>La idea de la fenomenología (1907)</b>
                    Husserl aborda una característica que se le
                    supone al sujeto; se dice que le sujeto conoce,
                    es decir, <b>el problema de que el conocimiento
                    es una vivencia psíquica,</b> es algo que el
                    sujeto vive como siendo suyo, una vivencia
                    como toda percepción. El problema tiene dos
                    vertientes, a) la localización del conocimiento y
                    b) cómo saber si solo son vivencias o si existe
                    también el objeto al que esas vivencias hacen
                    referencia.</p>
                <p>Y para ello lo que se propone es observar
                    la relación entre los juicios validos solo
                    para el sujeto empírico y aquello a lo que
                    podemos de manera aproximada aludir
                    como la percepción general (lo que se sabe,
                    lo que se dijo, la opinión publica, el mercado;
                    en el sentido en el que lo trabaja la ciencia
                    económica, etc.).</p>
                <p>El objetivo clave del abordaje de Husserl
                    es que se centra en pensar el sentido de la
                    propia percepción. El hecho de que ante el
                    color rojo por ejemplo, pareciese no requerir
                    de conocimiento ninguno en tanto se tienen
                    datos frente a los ojos, en este ejemplo algo
                    de color rojo. Por lo que esto requiere de dos
                    puntualizaciones:</p>
                <ol>
                    <li><b>1º la percepción individual</b> no alcanza
                        para fundamentar un argumento, se requiere
                        constituir un juicio genérico objetivo, propio
                        de la ciencia.</li>
                    <li><b>2º se requiere de los fenómenos.</b> Cuya
                        cualidad radica en construir objetos para el yo,
                        haciendo posible que haya de manera inicial
                        “datos”.</li>
                </ol>
                <p>En Meditaciones cartesianas (1929) vamos
                    a encontrar un paso brillante en su propuesta,
                    la intersubjetividad monadológica como él
                    le llama. Nos dice en la primera meditación;</p>
                <p class="cita">La auténtica fundamentación
                    es la concordancia del juicio con el
                    hecho «mismo» objeto del juicio (la
                    cosa o el hecho objetivo). Dicho más
                    exactamente: el juzgar es un asumir, y
                    en general un mero presumir, que tal
                    cosa existe o es de tal manera; el juicio
                    (lo que se juzga) es, por consiguiente, una
                    cosa o un hecho meramente presunto, o
                    en suma, la presunción de una cosa, la
                    presunción de un hecho.</p>
                <p>Tenemos por un lado el juicio que
                    depende de un campo teórico desde donde
                    hacer juicios, no hay juicio por fuera de una
                    teoría y por el otro lado el hecho objetivo,
                    que se construye de manera abstracta, no el
                    objeto material (por decirlo coloquialmente).
                    El sujeto en Husserl 11
                    El juicio de la fundamentación científica parte
                    de la teoria y llega a la teoria, no a los objetos
                    materiales.</p>
                <p class="cita">En suma, no sólo la naturaleza
                    corporal, sino el total y concreto mundo
                    circundante de la vida, es desde luego para
                    mí un mero fenómeno, mera apariencia
                    de realidad, en lugar de realidad.</p>
                <p>Con respecto a los objetos materiales y a
                    los hechos concretos, lo que con rigurosidad
                    podemos predicar de ello es su condición
                    de apariencia, lo que argumentativamente se
                    pueda construir entre los que se ocupen de
                    tal o cual fenómeno concreto. Y ahora algo
                    respecto al yo:</p>
                <p class="cita">Este yo que me queda necesariamente
                    en virtud de semejante epojé y su vida de
                    yo, no es un trozo del mundo, y cuando
                    digo que yo existo, ego cogito, esto ya no
                    significa que existo yo, este ser humano.
                    Yo no soy ya el ser humano que se
                    encuentra a sí mismo como ser humano
                    en la experiencia natural del yo,</p>
                <p>Con lo cual queda claro que la ontología
                    del sujeto de la que nos vamos a ocupar en
                    Husserl y que se propone como Psicología
                    auténtica, es un sujeto ontológicamente
                    inmaterial, constituido en el lenguaje.</p>
            </div>
        </div>
    </div>

    <div class="next">
        <a routerLink="../p10"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>