<div class="pagina">
    <div class="back-page">
        <a routerLink="../pa13"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <div class="boxes">
            <div class="box-1">
                <p>No obstante, en estos últimos 50 años hemos tenido notables
                    cambios en nuestra forma de vida, si bien es cierto que la vida familiar,
                    laboral, los amigos, la religión, etc. Son ámbitos que de alguna manera
                    pueden formar parte de la articulación significante del sujeto, sabemos
                    desde hace tiempo que los espacios virtuales, nuestras redes sociales,
                    etc. Son entornos con igual importancia que los otros; habitamos en
                    ellos, y al hilo de la argumentación de todo nuestro recorrido; habría
                    que sostener que al decir que habitamos, no se trata de una metáfora.</p>
                    <p>Con lo cual, si bien en estos últimos años se han desarrollado
                        herramientas informáticas para trabajar con esos entornos (Big data),
                        con gran éxito en el campo de la publicidad, es notable que lo que se
                        ha hecho en el campo clínico no nos sirve, la lectura que se hace de los
                        datos es tan intuitiva como la de asociar la causa del síntoma a lo ocurrido
                        cronológicamente con él.</p>
            </div>
            <div class="box-2">
                <p><b>Tenemos mucho trabajo por delante</b> en esta orientación pues
                    no hay en el mercado programas que analicen los datos en el modo en
                    el que hemos estado revisando el funcionamiento de los significantes.</p>
                    <p>Nos falta por escribir algoritmos informáticos con los cuales
                        organizar los Grandes Datos en función de los significantes del caso,
                        lo que nos permitiría localizar los entornos discursivos en donde esa
                        articulación tiene cabida.</p>
                        <p><b>No se trata de leer twittes o de contar likes, ni tampoco de
                            buscar en el rastro digital del paciente. Se trata de organizar el
                            discurso que habilita las ideas con las que se formula el caso.</b> Ese
                            discurso, esas ideas, esos significantes no están en el interior del paciente,
                            ni en su historia personal. Puede ser que la persona defienda
                            ideas de las que nunca había oído hablar, una serie de ideas que por
                            estructura no son suyas y con las que al final de cuentas podría no está
                            de acuerdo.</p>
                            <div class="gracias">
                                <p>Sin más; les agradezco habermo acompañado hasta aqui y les
                                doy las gracias.</p>
                                <p>Obeth Torres Moreno</p>
                            </div>
                            
                
            </div>
        </div>
    </div>
    <div class="next-page">
        <a routerLink="../pa15"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>