
<div class="pagina">
    <div class="back-page">
        <a routerLink="../pag8"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <app-cabecero></app-cabecero>
        <div class="boxes">
            <div class="box-1">
                <h3><strong>No hay sujeto propio, único e irrepetible.
                    </strong></h3>
                <p>Ciertamente hay un sujeto, pero adviene cuando
                    hay dos instancias enunciativas y el sujeto no esta
                    dentro de ninguna de ellas.</p>
                <img src="assets/fotos/instancias-enunciativas.jpg" width="100%" alt="">
            </div>
            <div class="box-2">
                <p>Ahora bien, lo que nos interesa resaltar de este
                    trabajo es que <strong>no se trata del reconocimiento de
                    atributos personales.</strong> En ese sentido no hay nada
                    para reconocer, por el contrario, nos encontramos con
                    la ausencia total de esas propiedades, se trata justamente
                    de la falta en ser.</p>
                <p>Se trata del requerimiento ineludible de la entrada en
                    el campo del otro en tanto condición de humanidad.
                    No hay humano sino es por mediación del campo del
                    otro, del reconocimiento del otro en tanto que constata
                    que hay allí sujeto deseante, deseante de deseos
                    humanos. Por lo que es de esperar que para que haya
                    deseo humano se requiera la presencia de abundantes
                    deseos.</p>
                <p>Alexander Kojeve, gran lector de Husserl, trabaja este punto de manera muy precisa:</p>
                <p class="cita">El Deseo humano debe dirigirse sobre otro
                    Deseo. Para que haya Deseo humano es
                    indispensable que haya ante todo una pluralidad
                    de Deseos (animales). Dicho de otro
                    modo, para que la Autoconciencia pueda
                    nacer del Sentimiento de sí, para que la
                    realidad humana pueda constituirse en el
                    interior de la realidad animal, es menester
                    que esa realidad sea esencialmente múltiple.
                    El hombre no puede, en consecuencia,
                    aparecer sobre la tierra sino en el seno de
                    un rebaño.</p>
                <p>Es decir, que en un caso clínico tan importante
                    es detenerse en el deseo del paciente como en los
                    deseos de su entorno, si no investigamos los otros
                    deseos del propio caso, el deseo del paciente no existe.
                    Contrario a la idea de que los deseos de los otros
                    son ajenos y que habría que descubrir el deseo íntimo,
                    interior, único y personal, nos encontramos con que
                    es en esos deseos donde el deseo del sujeto se puede
                    localizar y busca ser reconocido.</p>
                <p>Y revisando esto informaticamente lo que encontramos
                    es que efectivamente la gente solo desea
                    lo que la sociedad dice que hay que desear. El deseo
                    finalmente es intersubjetivo en tanto que el sujeto es
                    intersubjetivo.</p>
                <p>Ahora hemos visto con Hegel que todo lo que
                    es suceptible de ser dicho sobre el sujeto, está en el
                    relato. No hay, categóricamente hablando, ningún objeto,
                    ninguna persona de carne y hueso.</p>
                <p>Lo que verificamos cuando la persona cambia de
                    analista, pues de inmediato el caso clínico es otro:
                    el sujeto es otro. La persona se queja de las mismas
                    cosas en relación a las mismas personas, pero el caso
                    ya es otro.</p> 
            </div>
        </div>
        
              
    </div>
    <div class="next-page">
        <a routerLink="../pag10"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>