<div class="pagina">
    <div class="back">
        <a routerLink="../p2"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <app-cabecero2></app-cabecero2>
        <div class="boxes">
            <div class="box-1">
                <div>
                    <h4>Reducción Eidética:</h4>
                    <p> Tiene
                    que ver con la captación
                    de escencias.</p>
                </div>
                <div>
                    <h4>Reducción Trascendental:</h4>
                    <p>
                    Puesta entre parentesis
                    la realidad del mundo.</p>
                </div> 
            </div>
            <div class="box-2">
                <p>En las <b>Investigación Lógicas (1900),</b> lo que se describe
                    finalmente es una ciencia que se ocupe de <b>las estructuras
                    esenciales de las vivencias,</b> es decir, de las condiciones que
                    posibilitan que una experiencia sea susceptible de ser vivida,
                    pues queda claro que para un montón de cosas de nuestro
                    diario acontecer los ojos no nos bastan para ver o las ondas
                    sonoras captadas por nuestro sistema auditivo no terminan de
                    explicar nuestra experiencia auditiva, etc.</p>
                <p>Por ello se plantea la idea de que <b>la observación implica
                    una intencionalidad</b> y los objetos son pensados como objetos
                    intencionales. Lo que plantea todo un debate epistemológico
                    que tiene fuertes repercusiones en nuestro modo de entender
                    la ciencia.</p>
                <p>En su trabajo; Ideas para una Fenomenología Pura y una Filosofía
                    Fenomenológica, se plantea una forma de acceder a lo
                    que llama <b>una conciencia pura.</b> Es decir, aparece su famosísimo
                    Epohé, que se trata de una serie de reducciones.</p>
                <p>Con la reducción (o reconducción) trascendental aparece
                    una noción de gran importancia; <b>el campo de la vida.</b>
                    Lo que propone Husserl con esa noción es trabajar con el
                    mundo en tanto <b>mundo vivido</b>, apartando la realidad del
                    mundo. Percatarse del mundo tal y como lo vivimos cada
                    uno, como se nos presenta a cada uno, lo que resulta de
                    gran importancia para la clínica pues el relato del paciente
                    bebe te tomarse tal como lo presenta, justamente es así
                    como merece la pena ser recogido. Pero respecto a la realidad
                    del mundo, la verdad, la fundamentación de la ciencia,
                    etc. todo eso es harina de otro costal.</p>
                <p>No obstante, para trabajar con estas vivencias del
                    capo de la vida, Husserl planta una doble configuración: el
                    noema y la noesis.</p>
                <ul>
                    <li>
                        <h5>Noema</h5>
                        <p>A lo que apunta la vivencia como su objeto.</p>
                    </li>
                    <li>
                        <h5>Noesis</h5>
                        <p>La forma en la que algo es vivido.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="next">
        <a routerLink="../p4"><i class="fas fa-chevron-right fa-3x"></i></a>         
       
    </div>
</div>