<div class="pagina">
    <div class="back-page">
        <a routerLink="../pa2"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <div class="boxes">
            <div class="box-1">
                <p class="cita">Comprenderán por qué la
                    relación del sujeto con el significante
                    es el punto de referencia
                    que hemos querido poner en el
                    primer plano de una rectificación
                    general de la teoría analítica,
                    pues también es primero y
                    constituyente en la instauración
                    de la experiencia analítica, como
                    primero y constituyente en la
                    función radical del inconsciente-
                    (seminario 11 Clase del 22 de
                    Abril de 1964)</p>
            </div>
            <div class="box-2">
                <p>Es decir, lo que se propone es que fenómenos como el placer, el
                    dolor, la angustia, la soledad… se constituyen enteramente en el campo
                    del lenguaje y su articulación conlleva esas imposibilidades. No significa
                    que las enfermedades o accidentes no nos causen dolor, pero la
                    posición que defiende Lacan; es que el modo en el que sentimos ese
                    dolor, es siempre personal para cada uno y fuertemente vinculado a la
                    cultura.</p>
                <p>Hasta ahora, la abrumadora mayoría de las investigaciones del
                    campo de la psicología que se han venido desarrollado responden a un
                    modelo biologicista del sujeto, lo que venimos encontrando en este recorrido
                    <b>(Hegel, Husserl, Heidegger, Lacan)</b> es que la orientación a la
                    que nos empuja el movimiento del conjunto de las ciencias, se aparta
                    del fundamento biológico como paradigma dominante.</p>
                <p><b>El problema fundamental es que tales propuestas aíslan los
                    términos que pretenden investigar</b> (felicidad, tristeza, miedo, inteligencia,
                    etc.) <b>como si fueran unidades particulares.</b> Es decir, Las investigaciones
                    respecto de estos fenómenos, que se realizan en función
                    de definiciones para estos términos, se ven en la necesidad de ser presentados
                    como siendo definiciones estables, incluso tácitas. No deben
                    de incluir ningún prejuicio, evitar la ambigüedad, mucho más evitar la
                    polisemia, etc. Los términos presentados así no pueden diferenciar
                    entre culturas, momentos históricos, sociales, ni tampoco diferenciar
                    entre sujetos particulares.</p>
            </div>
        </div>
    </div>
    <div class="next-page">
        <a routerLink="../pa4"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>