<div class="pagina">
    <div class="back-page">
        <a routerLink="../pag6"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <app-cabecero></app-cabecero>
        <p>Francamente, con lo que hemos recorrido
            podemos plantear que la filosofía es una buena
            posición para juzgar las prácticas clínicas, por que
            la filosofía es capaz de ver el caso como una articulación
            racional de los elementos y trabajar respecto a
            las implicaciones éticas de esos elementos.</p>
        <div class="parrafo-especial">
            <p>Con lo cual, llegamos a una puntualización
                del propio Hegel que resulta de
                tremendo valor:</p>
            <p class="cita">“el entendimiento podría suponer aquí
                que ha descubierto una ley universal
                que expresa la realidad universal como
                tal, pero sólo ha descubierto, de hecho,
                 <b>el concepto de la ley misma</b>, algo así
                como si declarara que toda realidad es
                en ella misma conforme a ley”.</p>
        </div>
        <p>Ahora entonces un desafío importante; como
            distinguir lo diferente si para ver lo hacemos con universales,
            que por definición son comunes y corrientes.
            Pues bien; Hegel propone un paso decisivo; el paso
            que va de la conciencia a la autoconciencia. Y para
            trabajarlo vamos a comenzar por donde Hegel mismo
            sugiere que la historia comenzó.</p>
        <h5>Una lucha a muerte: una lucha a muerte |<b>por puro prestígio</b>.</h5>
        <p>Es increíble, pero efectivamente solo el hombre
            podría comprometerse en una confrontación así.
            La dialéctica del amo y el esclavo es sin duda uno de
            los principales trabajos que interesan al campo de la
            clínica pues en él se describe una propuesta muy novedosa
            y realmente extraordinaria sobre el deseo.</p>
        <div class="cartel">
            <p>El Deseo del hombre es el deseo del Otro</p>
        </div>
        <p>Considerando que la gran mayoría de trabajos
            versan sobre el deseo de objetos materiales y sobre
            todo tipo de estragos vinculados a la relación entre
            el hombre y esos objetos (adicción, envidia, nostalgia,
            etc). con Hegel y sobre todo con Lacan nos encontramos
            con un modelo completamente distinto y muy
            potente para la práctica clínica.</p>
        <p>Y es que el deseo planteado así (el deseo del
            deseo del otro) implica una condición dialéctica, de
            tal manera que nos permite verificar que hay allí un
            sujeto y por esa misma condición de intersubjetividad,
            validar una condición de realidad del caso clínico.</p>
       
    </div>  
        
        
    <div class="next-page">
        <a routerLink="../pag8"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>