<div class="pagina">
    <div class="back-page">
        <a routerLink="../page6"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <app-cabecero></app-cabecero>
        <div class="boxes">
            <div class="box-1">
                <h4>Tres elementos clave:</h4>
                <ul>
                    <li>El Dasein</li>
                    <li>Los otros</li>
                    <li>El ser-si-mismo cotidiano</li>
                </ul>
            </div>
            <div class="box-2">
                <p>Es tremendamente importante esta parte del trabajo por que en
                    la práctica clínica nos encontramos siempre con la pregunta respecto a
                    quién acude a consulta o quien es el paciente, a lo que eventualmente
                    se contesta aludiendo a alguien en el sentido de subiectum en tanto
                    ente presente (fulano de tal), junto con una serie de datos personales
                    que le diferencian de cualquier otra persona; habitualmente su nombre
                    personal y un número de identificación.</p>
                <p>Esa condición óntica no debe confundir la ontología de lo presente,
                    en principio de cuentas es notable que el contenido sustancial
                    de ese ente no puede explicar correctamente la existencia de fenómenos
                    como el síntoma ni tampoco nos sirven para entender al propio
                    sujeto, al “sujeto de la cotidianidad” (el Uno).</p>
                <p class="cita">Heidegger hace aquí una puntualización extraordinaria, dice:<br>
                    Bien podría ser que el quién del existir cotidiano no fuese
                    precisamente yo mismo. (pag. 120)</p>
                <p>Desde luego podemos rastrear y registrar todos los actos del
                    sujeto; sus compras, sus Likes, los kilómetros que ha corrido, la alimentación
                    que ha tenido, las personas con las que ha interactuado,
                    un larguísimo y nunca antes visto etc. Sin embargo puede que ninguno
                    de esos actos estén vinculados significativamente a lo que él “es”
                    esencialmente, no por que no se hayan registrado los actos adecuados
                    sino por qué <b>el acceso al Sujeto no se encuentra disponible sin un
                    trabajo ontológico previo</b> desde el cual pueda ordenarse un cierto
                    modo de ser y con ello una serie de actos posibles.</p>
                <p>En función de los cuales; <b>el “yo” debe entenderse solamente
                    como índice formal (pag. 121)</b> por lo que quizás su esencia en tanto
                    Dasein se revele justamente en los actos que nunca han sido realizados.</p>
                <p>El argumento es del siguiente modo: no hay sujeto sin mundo...
                    Ni tampoco hay un yo aislado sin los otros... Por lo que la estructura
                    ontológica de lo así dado en la coexistencia cotidiana es inseparable
                    entre esos elementos (Sujeto: mundo: los otros) y una interpretación
                    adecuada así debería registrarlo.</p>
            </div>
            
        </div>
        
        <app-pie></app-pie>
    </div>
    <div class="next-page">
        <a routerLink="../page8"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>