
   

<div id="main">
    <h5>Nudo borromeo en la teoría de Lacan</h5>

    <div [ngClass]="[cont, cont2]" >
        BOX
    </div>
    <div [ngClass]="{'container': false, 'container2': true}" >
        BOX
    </div>

    <div class="nudo">
        <svg height="252" width="252">
            <circle r="100" cx="101" cy="101" fill="none" stroke="#ffbd1f" stroke-width="2" ></circle>
        </svg>
        <svg height="252" width="252">
            <circle id="svgCircle" r="100" cx="101" cy="101" fill="none" stroke="#9249ec" stroke-width="2" ></circle>
        </svg>
        <div>
            <span  id="step1" ></span>
            <span id="step2"></span>
        </div>
    </div>

    
</div>