<div class="pagina">
    <div class="back">
        <a routerLink="../p10"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>

    <div class="page-content">
        <app-cabecero2></app-cabecero2>
        <p>ya en la <b>cuarta meditación</b> nos dice que el
            ego no se aprehende meramente como vida
            que corre, sino como un yo que vive esto y
            aquello, que vive en este y aquel cogito como
            siendo el mismo yo</p>
        <p>Es este el ego con el que vamos a trabajar,
            uno que esta en él, en aquel otro, en otro y en
            otro pero que se trata del mismo yo. Es evidente
            que tiene que ser así pues si se constituye con
            la universalidad ontológica de los conceptos,
            entonces formalmente no podemos sostener
            que este dentro de alguien.</p>
        <p>En la <b>quinta meditación</b> se responde a una
            de las dificultades más importantes del trabajo
            que ha venido desarrollando, la participación
            del otro como condición esencial de la
            propia constitución del mundo sensible. Esta
            meditación es principalmente la respuesta a la
            objeción del solipsismo.</p>
        <p>Lo que demuestra finalmente es que
            en el propio ego-trascendental se verifica
            la presencia del ater ego (otro yo). Y que lo
            que sentimos con el cuerpo no es más real
            que lo que imaginamos, real y no real no es
            la distinción apropiada. Desde luego que hay
            contextos en los que esa diferencia tiene
            gran importancia, pero no porque lo real y lo
            imaginario tengan distinto valor de verdad,
            sino porque es desde el modelo teórico desde
            donde se explica esa diferencia, y a su vez se
            hace posible su observación.</p>
        <p>En el sentido de la formalidad científica, el explicar y ver es
            lo mismo, del mismo modo en que en su tiempo el MITO explicaba
            y desde el mito se veía; nosotros primero imaginamos, pensamos,
            argumentamos…. Y depues vemos. Se ve lo que la teoría dice que tiene
            que verse.</p>
        <p>En la practica clínica es crucial trabajar con esta advertencia, pues
            los objetos con los que se topa el paciente no son mas reales que sus
            fantasías imaginarias, no nos es útil diferenciarlo así, requerimos otro
            sistema de referencias que nos explique mas cosas. Husserl lo que
            resuelve es lo siguiente:</p>
        <p>Si bien al hombre se le ha estado pensando como un objeto que
            choca son otros objetos (res extensa, topología Euclidiana, Física
            de Newton…) ahora Husserl y la ciencia moderna lo piensan en una
            continuidad entre el exterior y el interior, el mundo ya no es exterior al
            hombre, se deja de trabajar con el hombre como una esfera y se trabaja
            con el toro, botella de Klein, banda de Möbius… dualidad onda-partícula,
            topología de superficies, Física cuántica… No por que sean mejores o
            más reales sino por que los problemas que se nos presentan, y con
            gran importancia el sufrimiento humano tienen ese tejido, fenómenos
            como la soledad son mucho más interesantes que estar o sentirse solo,
            fenómenos como el fracaso ni se diga…</p>
        <p>Somos ajenos a nosotros mismos y se requiere un esfuerzo de
            determinación para dar cuenta de como somos, lo que nos gusta lo que
            nos lastima, todas esas cosas a las que llamamos propias, personales,
            intimas, etc. no son espontaneas, son tan ajenas a nosotros que algunas
            incluso requieren un análisis muy cuidadoso para poder localizarlas.<br>y eso es lo que nos proponemos investigar con Hedegger en el
            capítulo 3 y con Lacan en el capítulo 4.</p>
    </div>

    <div class="next">
        <a routerLink="../p12"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>