<div class="pagina">
    <div class="back">
        <a routerLink="../p6"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <app-cabecero2></app-cabecero2>
        <div class="boxes">
            <div class="box-1">
                <img src="assets/fotos/herramientas-teoricas.svg" >
            </div>
            <div class="box-2">
                <p>Este sujeto, al que solo lo podemos ubicar
                    en el campo de una escritura, funciona como
                    un índice de experiencias posibles, es con lo
                    que nos orientamos en el mundo, pues es
                    desde este sujeto desde donde no importando
                    las cualidades materiales de un objeto o su
                    forma sabemos de que objeto se trata.</p>
                <p>Con lo cual Husserl nos muestra dos
                    puntualizaciones excepcionales respecto a la
                    realidad pensada cotidianamente:</p>
                <ol>
                    <li>Que nuestra percepción del mundo
                        es relativa a nuestra posición y forma, que
                        es un modo de decir que no podemos
                        captar sensiblemente la totalidad del
                        objeto, por ejemplo, con nuestro cuerpo no
                        podemos sentir la velocidad absoluta, solo
                        captamos la velocidad relativa, en relación al
                        desplazamiento de nuestro propio cuerpo.</li>
                    <li>Que eso que no esta al alcance de nuestra
                        percepción cotidiana es lo que con formalidad
                        podemos aludir como objetivo, en el sentido
                        de argumentar su existencia teoréticamente,
                        luego de esta argumentación teorética sobre
                        el objeto o sobre la realidad más fundamental
                        del fenómeno que estemos observando
                        aparecen una serie de experiencias posibles.</li>
                    
                </ol>
                <p class="cita">Husserl dice en la Pag. 118 la cosa con la
                    que trabaja el físico, que observa y experimenta,
                    es la cosa que se convierte en sujeto, en sujeto de
                    los predicados físicos.</p>
                <p>Pues bien, tenemos entonces que del
                    universo conocido somos capaces de
                    experimentar sensiblemente una pequeña
                    parte (por ejemplo; la gama de frecuencias
                    captadas por el oído humano), otra parte que
                    nos es visible con herramientas de observación
                    como el microscopio, telescopio, acelerador de
                    partículas, etc. y una gigantesca parte (infinita)
                    que solo conocemos teoréticamente.</p>
                <p>Dicho esto, Husserl nos plantea lo siguiente
                    en la tercera sección:</p>
                <p class="cita">No hay forma de borrar al sujeto
                    puro del acto, siempre se esta en una
                    cierta posición desde el yo. Estar ocupado
                    con, experimentar, padecer; siempre e
                    irreductiblemente desde el sujeto del acto
                    (p. 184).</p>
                <p>El paso decisivo en el que hay que seguir
                    esta argumentación es que se experimenta
                    Herramientas
                    teóricas
                    El sujeto en Husserl 9
                    desde el sujeto no solo en la realidad sensible
                    sino con completa igualdad la realidad
                    conocida por la teoría, la conocemos desde el
                    modo y en la forma en la que entendemos la
                    teoría.</p>
            </div>
        </div>
    </div>
    <div class="next">
        <a routerLink="../p8"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>