<div class="pagina">
    <div class="back-page">
        <a routerLink="../pa12"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <div class="boxes">
            <div class="box-1">
                <p class="cita">The question that the nature
                    of the unconscious puts before
                    us is,(189) in a few words, that
                    something always thinks...
                    But the unconscious has nothing
                    to do with instinct or primitive
                    knowledge or preparation of
                    thought in some underground.
                    It is a thinking with words, with
                    thoughts that escape your
                    vigilance, your state of watchfulness.
                    (Baltimore 1966)</p>
            </div>
            <div class="box-2">
                <p>De acuerdo con la idea de parlêtre y del Otro (A barrado ) como tesoro
                    de los significantes, <b>cada caso implica una cierta articulación</b>, y
                    esa articulación, con propiedad, podemos plantear que no está en el
                    interior del paciente, ni en su cuerpo ni en sus datos. La propuesta
                    que estamos siguiendo propone articular, con el paciente, la cadena
                    significante que organiza eso que piensa, siente… y que sin él saberlo
                    lo determina.</p>
                    <p>Para ello hay que <b>analizar el Otro con respecto al cual, el sujeto
                        en cuestión está en inmixión,</b> si la lengua materna del paciente
                        es español y la del analista también, ciertamente hay una cercanía que
                        facilita el análisis, pero hay que estar advertidos que aún compartiendo
                        la lengua, el mundo del analizante puede ser completamente ajeno
                        al del analista, puede ser que nunca hasta ese caso hubiese tenido la
                        oportunidad de ver ese mundo.</p>
                        <p>No es lo más frecuente, lo que suele pasar es que el entorno que
                            plantea el analizante es bastante familiar, más aún cuando se trabaja
                            con una sintomatología particular. Pero es allí donde debemos ir con
                            más cuidado de creer que sabemos de que nos habla.</p>
                            <p>Finalmente podemos señalar que Lacan desarrolló importantes
                                herramientas epistémicas para ese trabajo, y algo de gran valor que
                                caracteriza su trabajo es que el desarrolló de todas sus aportaciones
                                están cuidadosa y formalmente vinculadas al desarrollo científico moderno.</p>
            </div>
        </div>
    </div>
    <div class="next-page">
        <a routerLink="../pa14"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>