
<div class="pagina">
    <div class="back-page">
        <a href=""><i class="fas fa-chevron-left fa-3x"></i></a>
        
    </div>

    <div class="page-content">
        <div class="cabecero">
            <app-cabecero></app-cabecero>
        </div>
        <div class="pag-1">
            <div class="resumen">
                <h4>LA NOCIÓN DE SUJETO EN HEGEL</h4>
            <P >Pronto en la lectura nos percatamos de que no se
                trata de ir recabando información sobre el sujeto en el
                sentido de llegar a un punto en el que completemos
                una especie de definición.</P>
            <P >Por el contrario, lo que vamos a encontrar es una serie de vacíos,
                fallas, inconsistencias; que lejos de ser errores o tropiezos de los que se esperaría
                una especie de superación, es en torno a esos vacíos que se va descubriendo
                un sistema de relaciones de máxima importancia para la idea de
                ley científica con la que intentamos fundamentar la veracidad de nuestras
                investigaciones. Y a su vez, abre un campo de posibilidades de gran novedad
                para la práctica clínica, en tanto se artícula una forma de pensar el deseo
                propiamente humano. Con lo cual el recorrido lo haremos en dos pasos: 1º
                El argumento hasta la idea de “ley científica” , 2º La propuesta sobre el
                deseo.</P>
            </div>
            
        
            <div class="boxes">
                <div class="box-1">
                    <p>Comencemos entonces con una cita que se
                    encuentra en el prólogo de la Fenomenología del Espíritu:</p>
                </div>
                <div class="box-2">
                    <p class="cita">“que lo verdadero no se aprehenda y se exprese
                    como sustancia, sino también y en la misma
                    medida como sujeto.”</p>
                </div>                        
            </div>
            <div class="boxes">
                <div class="box-1">
                    <p >Para nosotros, hispanohablantes, encontramos
                    una dificultad fácil de superar pero de la que hay
                    que estar advertidos, y es que el uso de la palabra sujeto
                    para nosotros esta fuertemente ligada a la noción
                    de persona o individuo, mientras que en otros idiomas
                    hay una distancia semántica
                    también valida con la noción
                    de “asunto, tema, materia”,
                    lo que facilita y hace comprensible
                    proposiciones importantes
                    de las que nos vamos a ocupar.</p>
                        <p >No obstante, rápidamente nos encontramos
                        con otra propuesta complicada:</p>
                        <p class="cita">“la sustancia viva es, además, el ser que es
                        en verdad sujeto… la mediación de su devenir otro
                        consigo misma.”</p>
                        <p >Impresionante la definición de sustancia viva
                        con la Hegel operar en esta parte de su obra.</p>
                </div>

                <div class="box-2">
                    <div style="background-color: #f84c2a;"><p>Sujet  | Frances</p></div>
                    <div style="background-color: #f84c2a;"><p>Suject | Ingles</p></div>
                    <div style="background-color: #f84c2a;"><p>Sujekt | Aleman</p></div>
                </div>

            </div>
        </div>

        <div class="pie-de-p">
            <p>TFM | La Noción de Sujeto para una Psicología Auténtica</p>  
        </div>

    </div>

    <div class="next-page">
        <a routerLink="../pag2"><i class="fas fa-chevron-right fa-3x"></i></a>
        
    </div>
</div>