<div class="pagina">
    <div class="back-page">
        <a routerLink="../pag9"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    
    <div class="page-content">
        <app-cabecero></app-cabecero>
        <div class="boxes">
            <div class="box-1">
                <img src="assets/fotos/toro.png" width="100%" alt="">
            </div>
            <div class="box-2">
                <p class="cita">“Por tanto, el contenido no es ya, en realidad, predicado
                    del sujeto, sino que es la sustancia, la esencia y
                    el concepto de aquello de que se habla.”</p>
                <p>Y en la Enciclopedia de las Ciencias Filosóficas se trabaja
                    esta misma idea aludiendo al círculo de círculos:</p>
                <p class="cita">“Por ello se presenta la totalidad como un circulo de
                    círculos, cada uno de los cuales es un momento necesario,
                    de tal manera que el sistema de sus elementos
                    propios constituye la idea total.”</p>
            </div>            
        </div>
        <h5>Respecto al Síntoma:</h5>
        <p>podemos proponer la siguiente
            tesis; <b>eso de lo que se sufre … es así solamente
            porque el mundo cultural en el que se habita, eso
            es síntoma, el otro lo reconoce como síntoma y
            sin ese reconocimiento el síntoma no tiene lugar.</b> 
            Por tanto, si el sujeto no pasa por el campo de hacer
            reconocer su deseo como deseo de reconocimiento,
            no existe como sujeto deseante.</p>
        <p>Por lo que es importantísimo dejar claro que las figuras
            de la dialéctica no están en el interior de nadie. Son
            dos figuras abstractas de un modelo de pensamiento
            que dan cuenta del funcionamiento de la realidad humana.
            Que su valor radica en establecer un conjunto
            de relaciones entre ciertos elementos de tal manera
            que nos permiten organizar las condiciones de realidad
            del sujeto.</p>
        <h5>Respecto al deseo:</h5>
        <p>al no tratarse de las características
            materiales del objeto, ni de importancia en
            cuanto recurso vital para el organismo biológico. Lo
            que se sugiere es que; es desde el sujeto donde se
            organiza el valor y la función del deseo.</p>
        <p class="cita">“y ese sujeto es, por tanto, la sustancia verdadera, el
            ser o la inmediatez que no tiene la mediación fuera
            de sí, sino que es esta mediación misma.”</p>
        <p>Por tanto, el sufrimiento implicado en torno a los objetos
            no puede ser explicado por la falta de esos objetos,
            ni respecto a sus cualidades materiales o sus
            propiedades bio-químicas. Se requiere de un modelo
            que nos permita trabajar con las cosas que relata el
            paciente en los términos y valores que se articulan en
            el propio relato.</p>
        <p>Y es lo que vamos a trabajar con Husserl y su propuesta
            de una <b>Ψ auténtica.</b> </p>
        <div class="psi">
            <img src="assets/fotos/psi.svg" >   
        </div>
        
    </div>
    <div class="next-page">
       <a routerLink="../pag11"><i class="fas fa-chevron-right fa-3x"></i></a>
 
    </div>
    
</div>