<div class="pagina">
    <div class="back-page">
        <a routerLink="../page3"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <app-cabecero></app-cabecero>
        <div class="boxes">
            <div class="box-1">
                <p>De tal forma que todo ese sistema de
                    referencias en donde se describe y explica la
                    TFM El sujeto de la ψ auténtica
                    5 Cap. 3 El sujeto en Heidegger
                    amistad, proporciona también para el sujeto
                    una serie de vivencias posibles, que el sujeto
                    viene viviendo e identificando como siendo
                    muestras y referencias respecto a cómo
                    la amistad “es”. Vivencias que efectivamente
                    se pueden organizar cronológicamente en el
                    pasado del sujeto ónticamente presente, pero
                    todo ese pasado y el pasado de su entorno,
                    como lo sugiere Heidegger, va por delante del
                    sujeto.</p>
                <p>La proposición de Heidegger en este
                    punto muestra una novedad extraordinaria,
                    pues demuestra que el tiempo fundamental
                    que hay que tener en consideración a la hora
                    de pensar el sujeto no es el pasado sino el futuro,
                    y más concretamente el futuro anterior.</p>
            </div>
            <div class="flecha">
                <div class="foto">
                    <p class="el-pasado">El pasado siempre se adelanta</p>
                    <img src="assets/fotos/flecha.png" width="100%" alt="">
                </div>
                <h4>La flecha del tiempo en Heidegger</h4>
                
            </div>
            <div class="box-2">
                <p>Todo el campo de la psicología y la psicoterapias que conocemos
                    se basa en la idea de que algo en el pasado del sujeto puede explicar
                    sus síntomas, osea algo le pasó cuando niño o con su primer amor , no
                    importa. Pero incuestionablemente en el pasado de él, lo que se visualiza
                    con la idea de trauma.</p>
                <p>Sin embargo, con la propuesta de Heidegger se abren dos grandes
                    posibilidades, 1º no solo hay que tomar en cuenta el pasado del
                    sujeto sino el pasado de todo su entorno y 2º el valor que todas esas
                    vivencias tienen para el sujeto se comprenden en torno a un horizonte
                    temporal futuro, hacia donde suponemos que esas vivencias pasadas
                    nos llevan, lo que suponemos que nos hacen y nos harán “ser“.</p>
                <p>De ello es que la flecha del tiempo en Heidegger habría que entenderla
                    como el recorrido en una superficie no orientable, quizás la
                    banda de Möbius.</p>
            </div>
        </div>
        <app-pie></app-pie>    
    </div>
    <div class="next-page">
        <a routerLink="../page5"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>
