<div class="portada">
    <div class="tfm">
        <h3>TFM | la Noción de Sujeto para un a Psicología Auténtica</h3>
    </div>
    <div class="title">
        <h2>Capítulo 3 </h2>
        <h1>La Noción de Sujeto en Heidegger</h1>
    </div>
    <div class="autor">
        <h3>OTM</h3>
        <H3>Obeth Torres Moreno</H3>
    </div>
    
</div>
<div class="extras">
    <div>
        <i class="fas fa-share-alt fa-3x"></i>
        <p>Compartir</p>
    </div>
    <div>
        <i class="far fa-comment-alt fa-3x"></i>
        <p>Comentar</p>
    </div>
    <div>
        <i class="fas fa-file-alt fa-3x"></i>
        <p>Descargar pdf</p>
    </div>
    <div>
        <i class="fas fa-couch fa-3x"></i>
        <p>Consulta Online</p>
    </div>

</div>