<div class="pagina">
    <div class="back-page">
        <a routerLink="../pa9"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <div class="boxes">
            <div class="box-1">
                <p>Estas dos operaciones (alienación y separación) son, en la teoría
                    de Lacan, la causa del Sujeto ( ). Es evidente que la noción de Sujeto
                    en Lacan no tiene nada que ver con el cuerpo biológico o con el comportamiento
                    de las personas. El sujeto es una consecuencia lógica del
                    lenguaje, un vació que se forma en su articulación.</p>
                    <p>No es la persona que habla, ni está dentro de ella en el sentido
                        en el que están sus órganos vitales. <b>Lacan propone que el sujeto se
                        encuentra en inmixión de Otredad,</b> lo que quiere decir que el sujeto
                        y el Otro (batería de los significantes) se encuentran en una mezcla tal
                        que no podemos separarlos y nociones como el deseo o el goce habría
                        que pensarlas como siendo del Otro.</p>
                        
            </div>
            <div class="box-2">
                <div>
                    <div class="banda-m">
                        <img src="assets/fotos/mobius-band.svg" alt="">
                    </div>
                    <p>This diagram can be
                        considered the basis of a
                        sort of essential inscription
                        at the origin, in the
                        knot which constitutes
                        the subject.
                        (Lacan. Baltimore 1966)</p>
                </div>
            </div>
        </div>
        <div class="boxes">
            <div class="box-1">
                <p>No obstante, eso que es resultado de la operación alienación y
                    separación; el Sujeto, requiere para ser visible de una repetición, del
                    mismo modo que en el campo de las matemáticas <b>Frege</b> demuestra la
                    condición de unidad de cada número natural, lo que permite la sucesión
                    infinita de los números naturales.</p>
                    <p>Por estas razones lógicas (no intuitivas, ni como producto de la
                        experiencia) Lacan sugiere que <b>la pregunta por la marca que hace
                        visible al sujeto, es la pregunta por el Sujeto.</b> Sólo habiendo una
                        repetición podemos articular un Sujeto, sin embargo a diferencia de los
                        números, el significante no remite a sí mismo como identidad. El significante
                        requiere la cadena significante para significar algo y cuando lo
                        encuentra forma una unidad significante que nuevamente busca otro
                        significante del tesoro de los significantes (A tachada ).</p>
            </div>
            <div class="box-2">
                <p class="cita">This first repetition is the only
                    one necessary to explain the
                    genesis of the number, and only
                    one repetition is necessary to
                    constitute the status of the subject.
                    The unconscious subject is
                    something that tends to repeat
                    itself, but only one such repetition
                    is necessary to constitute it.
                    (Lacan. Baltimore 1966)</p>
            </div>
        </div>

    </div>
    <div class="next-page">
        <a routerLink="../pa11"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>