<div class="pagina">
    <div class="back-page">
        <a routerLink="../pa11"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <div class="boxes">
            <div class="box-1">
                <p>Lo que Demuestra el análisis de los significantes es que eso que
                    le ocurre al parlêtre, le es ajeno y sin embargo presente cada vez que
                    habla, piensa o siente.</p>
                    <p>Analizar la cadena de significantes que lo determina requiere
                        pensar en el Otro del Sujeto, no podríamos decir a priori si hay que
                        tomar en cuenta la cultura, el entorno familiar, las experiencias pasadas...
                        Se trata de recoger no la cultura en general sino aquello de la cultura
                        que conecta con lo que la persona está padeciendo, no se trata de
                        analizar la relación con todos su familiares pues quizás ningún familiar
                        tenga relevancia en eso que le ocurre.</p>
                        <p>Al plantear al Sujeto (barrado) como efecto del significante, nada de lo
                    que le haya ocurrido al paciente tiene relevancia a priori. Lo cual es de
                    una novedad increíble pues nuestra impresión corriente nos obliga a
                    pensar que si la persona o alguien cercano a él, ha sufrido un accidente
                    importante reciente o próximo a sus síntomas, intuimos ingenuamente
                    que tienen relación.</p>
                    <p>Si un grupo de personas, acá en Europa, sufre de un asalto a
                        mano armada y en los días posteriores todos, incluso otros que no
                        estuvieron presentes, refieren tener síntomas como insomnio, paranoia,
                        miedo a salir a la calle, etc. Nadie pone en duda que los síntomas
                        hayan sido causados por el asalto, estrés postraumático le llaman.</p>
                        <p>Tales suposiciones, abundantes en la vida corriente, se nos presentan
                            así en gran parte porque el paradigma científico predominante con el que explicamos los accidentes de la vida corriente; es la física
                            mecánica, y lo corroboramos constantemente. Pero también es notable
                            que la investigación de los fenómenos sintomáticos se ha venido
                            haciendo con el mismo fundamento; se recogen datos de un grupo
                            con el mismo síntoma y las variables que tengan en común se asocian
                            al síntoma.</p>
            </div>
            <div class="box-2">
                <div class="sujeto">
                    <img src="assets/fotos/sujeto-barrado.svg" alt="">
                    <p>Sujet: (Sujeto tachado) en la teoría de Lacan</p>
                </div>
                
            </div>
        </div>
    </div>
    <div class="next-page">
        <a routerLink="../pa13"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>