
.content {
    min-height: 700px;
    display: grid;
    margin: 0px 0px;
    background-image: url("/../assets/fotos/foto3.jpg");
    background-size: cover;
    background-position: left;
}
.main-title {
    color: #ffff;
    padding: 250px 40px;
    text-align: center;
}

.extras {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.extras div {
    width: 200px;
    background-color: rgb(70, 69, 69);
    color: #ff0063;
    align-items: center;
    text-align: center;
    padding: 20px 10px;
    border-radius: 3px;
    font-size: .7rem;
    margin: 3px;
}

