<div class="pagina">
    <div class="back-page">
        <a routerLink="../page4"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <app-cabecero></app-cabecero>
        <p>Con lo cual, la pregunta por la esencia del sujeto, Heidegger sugiere que como toda pregunta, exige ser tratado en función de la cosa
            que se interroga, es decir como primer paso; formular una posición
            ontológica fundamental, pues sin ello no podemos más que limitarnos
            a estudiar al sujeto como sustancia (subiectum: hypokeimenon).</p>
        <p>Que es el modo en el que lo estudió la antropología clásica, (no
            lo piensa así la antropología moderna, menos aún la antropología filosófica)
            es el modo en el que lo piensa la biología, pero lo extravagante
            y escandaloso es que la psicología nunca halla formulado en su propio
            campo una posición respecto al sujeto, que nunca recogiera las formulaciones
            propuestas en el conjunto de las ciencias (Física, Matemáticas,
            Antropología, Lingüística, Economía, etc) y se haya quedado solamente
            con una idea cercana al campo de la biología.</p>
        <p>Dicho en los términos en los que nos manejamos en este trabajo;
            en el campo de la psicología clásica se piensa al sujeto como sustancia
            (subiectum o hypokeimenon).</p>
        <p>Es loable entonces señalar que para estudiar los fenómenos del
            campo clínico moderno (la angustia, el sufrimiento, el malestar, la soledad,
            el miedo, la vergüenza...) Fenómenos humanos podríamos redundar,
            se requieren de manera inicial; una determinación ontológica fundamental
            respecto al sujeto, sin la cual el estudio de estos fenómenos
            quedan pobremente planteados y con pocas garantías de formalidad
            científica.</p>
        <p>Por lo cual, antes de poder organizar cualquier contenido material
            y por supuesto antes de organizar cualquier cosa respecto al sujeto
            es muy importante percatarse de que subyace un principio organizador.
            Ese principio organizador es con lo que el material es reconocido
            en principio de cuentas y luego puede ser efectivamente organizado.</p>
        <p class="cita">Pag. 61 El auténtico principio ordenador tiene su propio
            contenido material … para clasificar imágenes del mundo es necesaria
            la idea explícita de mundo en general.</p>
        <p>Una de las maneras en la que se puede seguir la organización
            que trabaja Heidegger; se dibuja en torno a la noción de existencia y
            existencial, con gran importancia la diferencia entre estos dos términos.
            Si bien, la existencia es aquello con respecto a lo que el Dasein
            se comporta de alguna manera (por ejemplo el modo en el que una
            persona se comporta respecto al dinero), un existencial es un modo
            de ser del Dasein, una cualidad co-originaria del Dasein.</p>
        <p>Por lo cual, la esencia del Dasein consiste en ser la expresión
            de su “ser” en cada caso (un empresario, un economista, un psicoanalista...)
            A la comprensión de sí mismo que tiene cada vez el Dasein,
            es decir; el modo en el que ese analista en particular se concibe como
            analista... Heidegger le llama comprensión existentiva.</p>
        <app-pie></app-pie>
    </div>
    <div class="next-page">
        <a routerLink="../page6"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>