<div class="pagina">
    <div class="back-page">
        <a routerLink="../pa6"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <div class="boxes">
            <div class="box-1">
                
            </div>
            <div class="box-2">
                <p>Ahora bien, para trabajar con los significantes, en concreto con
                    lo que cita como la batería de los significante o tesoro de los significantes
                    (no con las palabras) Lacan hace uso de un campo de las matemáticas
                    <b>(La Teoría de conjuntos)</b> para operar con ello; cuyas operaciones
                    elementales son una herramienta básica para cualquier teoría matemática.</p>
                    <p><b>En la vida corriente no podemos saber que significa para alguien
                        algo</b>, lo que nos ocurre es que ese significante nos remite a otro
                        significante, y este a otro y a otro… a eso Lacan llama cadena significante
                        y propone que el sujeto se localiza “entre” los significantes, en ese
                        movimiento.</p>
                        <p>Pues bien, con lo que ya hemos planteado, podemos introducir
                            una de las formulaciones clave de la teoría construida por Lacan:<b>el inconsciente está estructurado como un lenguaje.</b>
                             Por lo que el
                            psicoanálisis viene a ser la ciencia del inconsciente entendido así (estructurado
                            como un lenguaje), no como lo propone muchas veces la
                            biología o la psicología.</p>
                            <p class="cita">L’inconscient est un concept forgé
                                sur la trace de ce qui opère pour
                                constituer le sujet.
                                L’inconscient n’est pas une espèce
                                définissant dans la réalité psychique
                                le cercle de ce qui n’a pas
                                l’attribut (ou la vertu) de la conscience.
                                (Lacan. Position de L’inconscient )</p>
            </div>
        </div>
        
    </div>
    <div class="next-page">
        <a routerLink="../pa8"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>