.lados {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.clinic-orientation {
    border: 3px solid #0c4b86;
    text-align: center;
    width: 400px;
    height: 1200px;
    padding: 10px;
    margin: 20px ;
}
.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.box-1-a {
    background-color: #abcdee;
    padding: 15px 0px 25px 0px;
    border-radius: 20px;
}
.datos-sujeto {
    display: flex;
    justify-content: center;
}
.flecha {
    width: 60px;
    height: 2px;
    background-color: #0c4b86;
    position: relative;
    border-radius: 4px;
    margin: 25px;
}
.flecha:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #0c4b86;
    transform: rotate(45deg);
    position: absolute;
    right: -5px;
    bottom: 6.5px;

}
.flecha:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #0c4b86;
    transform: rotate(-45deg);
    position: absolute;
    right: -5px;
    bottom: -6.5px;

}
.box-2-a {
    background-color: #abcdee;
    margin-right: 10px;
    padding: 10px;
    border-radius: 20px;
}
.slash {
    display: flex;
    justify-content: center;
}
.diamante {
    display: flex;
    padding: 15px 20px;
}
.left, 
.right {
    width: 20px;
    height: 20px;
    box-shadow: -2px 2px 0 #0c4b86;
}
.left {
    transform: rotate(45deg);
}
.right {
    transform: rotate(-135deg);
}

.box-1-c {
    background-color: #abcdee;
    position: relative;
    padding: 20px 5px;
    border-radius: 20px;
}
.box-1-c:after {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #abcdee;
    content: "";
    transform: rotate(45deg);
    top: 100%;
    left: 50%;
    margin-left: -25px;
    margin-top: -35px;

}
.box-1-d {
    padding: 20px 10px;
    margin: 80px 0px 100px 10px;
}
.box-2-c {
    background-color: #abcdee;
    margin-right: 10px;
    padding: 30px 0px;
    border-radius: 20px;
}
.box-2-c:after {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #abcdee;
    content: "";
    margin-left: -25px;
    margin-top: -5px;
    transform: rotate(45deg);
}

.box-2-d {
    border: 2px solid #0c4b86;
    margin-top: 100px ;
    margin-right: 10px;
}
.toros {
    height: 390px;
}