<div class="pagina">
    <div class="back-page">
        <a routerLink="../page6"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <app-cabecero></app-cabecero>
        <div class="lados">
            <div class="clinic-orientation">
                <h4>HORIENTACIÓN CLÍNICA</h4>
                <div class="boxes">
                    <div class="box-1">
                        <h5>Clasica</h5>
                        <div class="box-1-a">
                            <div class="datos-sujeto">
                                <p>Datos</p>
                                <div class="flecha"></div>
                                <p>Sujeto</p>
                            </div>
                            <p>Los datos señalan al Sujeto</p>
                        </div>
                        <div class="box-1-b">
                            <p>El tiempo clave es el pasado</p>
                            <p>La flecha del tiempo es cronológica</p>
                        </div>
                        <div class="box-1-c">
                            <p>El Sujeto es una sustancia;<br>subiectum (hipokeimenon) </p>
                        </div>
                        <div class="box-1-d">
                            <p>El análisis del caso deriva en <b>el análisis de los datos</b> </p>
                        </div>
                    </div>
    
    
                    <div class="box-2">
                        <h5>Moderna</h5>
                        <div class="box-2-a">
                            <div class="slash">
                                <p>Datos</p>
                                <div class="diamante">
                                    <div class="left"></div>
                                    <div class="right"></div>
                                </div>
                                <p>Sujeto</p>
                            </div>
                            <p>Los datos y el Sujeto son <b>cooriginarios</b></p>
                        </div>
                        <div class="box-2-b">
                            <p>El tiempo clave es <b>el futuro</b></p>
                            <p>La flecha del tiempo es <b>no orientable</b></p>
                        </div>
                        <div class="box-2-c">
                            <p>El Sujeto es un <b>Existencial</b></p>
                        </div>
                        <div class="box-2-d">
                            <p>El análisis del caso implica la comprención óntica y ontológica...</p>
                            <div class="toros">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 200 400"  xml:space="preserve">
                                     <text transform="matrix(1 0 0 1 54.3633 233.3467)"><tspan x="0" y="0" font-family="'Montserrat-Regular'" font-size="12">COMPRENSIÓN</tspan><tspan x="6.006" y="14.399" font-family="'Montserrat-Regular'" font-size="12">ONTOLÓGICA</tspan></text>
                                    <g id="toro-2">
                                    <path fill="#BFBFBF" d="M181.209,235.73c0,45.061-36.641,81.699-81.699,81.699c-45.061,0-81.701-36.641-81.701-81.699
                                    c0-27.391,13.54-51.68,34.29-66.47c2.43,1.77,4.979,3.38,7.61,4.85c-20.19,13.07-33.591,35.81-33.591,61.621
                                    c0,40.459,32.931,73.391,73.391,73.391c40.459,0,73.389-32.932,73.389-73.391c0-25.811-13.398-48.55-33.59-61.621
                                    c-2.77-1.83-5.709-3.43-8.73-4.85c-9.438-4.46-19.969-6.92-31.068-6.92c-11.11,0-21.629,2.46-31.07,6.92
                                    c-3.02-1.41-5.96-3.02-8.729-4.84C71.48,157.8,85.08,154.03,99.51,154.03c14.43,0,28.029,3.771,39.801,10.391
                                    c2.629,1.47,5.18,3.07,7.609,4.84C167.67,184.05,181.209,208.34,181.209,235.73z"/>
                                    </g>
                                    <g id="toro-1">
                                    <path d="M181.209,102.8c0,27.38-13.539,51.67-34.289,66.46c-2.432-1.77-4.98-3.37-7.611-4.84c20.191-13.07,33.59-35.81,33.59-61.62
                                    c0-40.46-32.93-73.39-73.389-73.39c-40.46,0-73.39,32.93-73.39,73.39c0,25.81,13.399,48.55,33.59,61.62
                                    c2.77,1.82,5.71,3.43,8.729,4.84c9.44,4.46,19.96,6.93,31.071,6.93c11.1,0,21.629-2.47,31.068-6.93
                                    c3.021,1.42,5.961,3.02,8.73,4.85c-11.77,6.62-25.371,10.391-39.801,10.391c-14.429,0-28.03-3.771-39.799-10.391
                                    c-2.63-1.47-5.181-3.08-7.61-4.85c-20.75-14.79-34.29-39.08-34.29-66.46c0-45.06,36.64-81.7,81.7-81.7
                                    C144.568,21.1,181.209,57.74,181.209,102.8z"/>
                                    </g>
                                    <text transform="matrix(1 0 0 1 53.0298 100.6802)"><tspan x="0" y="0" font-family="'Montserrat-Regular'" font-size="12">COMPRENSIÓN</tspan><tspan x="24.246" y="14.4" font-family="'Montserrat-Regular'" font-size="12">ÓNTICA</tspan></text>
                                    
                                </svg>
                                
                            </div>
                            <p>a partir de lo cual; el <b>Sujeto</b> es visible.</p>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="texto">
                <p>En primer lugar podríamos localizar a los otros con respecto a
                los cuales el sujeto coexiste; el profesor respecto a sus alumnos, el influencer
                respecto a sus folowers, respecto a los otros influencers etc.
                Es importante puntualizar aquí que los otros no son localizables de
                forma inmediata. Sin un trabajo ontológico
                previo no sabemos cuales son los otros del sujeto.
                Heidegger hace una propuesta increíble;
                sugiere que <b>los otros son aquellos de quienes
                uno mismo generalmente no se distingue.</b></p>
                <p>Puede que los otros sean los otros profesores
                o que ni los profesores ni los alumnos
                tengan una relación importante en el sistema
                de referencias ontológicas con las que se esté
                interpretando existencialmente el Dasein que
                es el sujeto en cuestión, sea este profesor o
                no. En tal caso lo que nos interesa primordialmente
                es que el sujeto en ese modo de ser
                cotidiano no se distingue de los otros y por lo
                tanto Heidegger lo pudo formular así;</p>
                 <p class="cita">El Dasein vuelto hacia los otros
                en su coexistir cotidiano, no es él
                mismo.</p>
                <p>Entonces, siguiendo esta linea de razonamiento
                podemos con claridad suponer que
                quizás el paciente aquejado de tal o cual síntoma,
                en eso que aparentemente nos dice algo
                notablemente importante de él (abuso de sustancias,
                fracaso escolar, violencia machista...)
                Puede que justamente en eso no sea él mismo
                y los lugares en los que haya que trabajar esos
                modos de ser no sea en las experiencias personales
                que él haya vivido. Quizás tenga mayor
                relevancia clínica pensar el síntoma en los
                lugares donde la lógica que fundamenta ese
                comportamiento puede aparecer, allí donde
                eso se piensa, allí donde eso se dice.</p>
                <p>Es decir; el odio racista que un sujeto tiene
                frente a otro puede que no tenga su fundamento
                en las cosas pasadas del sujeto racista,
                sino allí donde eso se piensa, allí donde pueda
                aparecer el argumento respecto al cual algo
                pueda ser pensado. El deseo incontrolable de
                consumo del sujeto adicto puede que no se
                encuentre en los efectos bioquímicos del organismo
                en interacción con la substancia sino
                allí donde el consumo de tal sustancia aparece
                como algo deseable. En los argumentos que
                habilitan un campo de experiencias posibles
                como deseables, en la postura filosófica que
                respalda un modo de ser.</p>
                <p class="cita">Heidegger dice; le han robado el
                ser, le han limitado sus posibilidades...</p>
             </div>
        </div>
        
        
        
        
        <app-pie></app-pie>
    </div>
    <div class="next-page">
        <a routerLink="../page9"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>