<div class="pag4">
    <div class="back-page">
        <a routerLink="../pag3/"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>

    <div class="main-page">
        <app-cabecero></app-cabecero>
        <div class="page-content">
            <p>Ahora bien, aquel que percibe esa constancia,
                las cualidades del objeto, lo hace efectivamente con la
                vista, el oído, el olfato, etc. pero lo hace por medio de
                los universales. Por lo que Hegel sugiere que su existencia
                es la del punto.</p>
            <p>Es decir; no se puede ver, solo lo podemos
                representar y es así como lo hacemos con cualquier
                objeto o con cualquier idea, solo podemos aludir a sus
                limites y de modo convencional detener su definición
                o sus limites del modo que sean razonablemente útiles
                para la tarea que nos este ocupando.</p>
            <div class="boxes">
                <div class="box-1">
                    <p>Por ejemplo, el carpintero que mide el tamaño
                        la mesa, tal medición la puede hacer en centímetros o
                        en milímetros, pero no requiere mayor precisión que
                        eso para la tarea que le ocupa, a pesar de que de
                        manera estricta ninguna medida sea definitivamente
                        precisa o ningún corte sea completamente recto, lo es
                        función de la tarea de construir una mesa.</p>
                    <p>Respecto del relato de la persona que sufre, al
                        igual que la descripción de un objeto, no se puede decir
                        definitivamente. Su elaboración exige una decisión
                        de precisión y unos instrumentos con los cuales realizar
                        la observación, pero tanto los objetos de la vida
                        corriente como el caso clínico son como el punto.</p>
                    <p>No se pueden observar directamente por que
                        no están en una dimensión visible, lo que percibimos sensiblemente como el color, el tamaño, la localización, son los universales.
                        Cuya existencia depende fundamentalmente del lenguaje.</p>
                </div>
                <div class="box-2">
                    <p class="cita">La certeza sensible experimenta, pues, que su esencia
                        no esta ni en el objeto ni en el yo y que la
                        inmediatez no es la inmediatez del uno ni la del otro,
                        pues en ambos lo que supongo es mas bien algo
                        inesencial, y el objeto y el yo son lo universal en lo
                        que no permanece o es aquel ahora y aquí y aquel</p>
                    <img src="assets/fotos/book-open.png" alt="">
                </div>
            </div>
            
        </div>
        <footer>
            <hr>
            <p>TFM | </p>
        </footer>
    </div>
    <div class="next-page">
        <a routerLink="../pag5"><i class="fas fa-chevron-right fa-3x"></i></a>
        
    </div>
</div>