<div class="pagina">
    <div class="back-page">
        <a routerLink="../pa10"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <div class="boxes">
            <div class="box-1">
                <div class="autre">
                    <img src="assets/fotos/Autre.svg" alt="">
                    <p>Autre: (A tachada) en la Teoría de Lacan</p>
                </div>
            </div>
            <div class="box-2">
                <p>Finalmente a diferencia de la sucesión infinita de los números
                    naturales, la cadena significante se detiene en el mismo sentido en el
                    que se detienen la Teorías científicas. Cada vez que un significante remite
                    a otro significante y de cuya articulación se deduce un vacío, a su
                    vez se habilita una estructura que al cerrarse hace visible el vacío que
                    se había estado recorriendo. Ese recorrido finalmente acotado y llevado
                    a su límite, termina siendo una imposibilidad formal. Es decir, no se
                    trata de algo que sea muy difícil sino de una imposibilidad propia de la
                    articulación que se ha ido formulando.</p>
                <p>El caso habitual para ilustrar esa imposibilidad es<b>el principio
                    de indeterminación de Heisenberg,</b> donde se demuestra que no se
                    puede determinar simultáneamente la posición y el momento lineal de
                    una partícula. No porque sea muy difícil o por falta de instrumentos
                    apropiados sino por la propia formulación teórica que nos describe las
                    propiedades de la partícula.</p>
                <p>Con lo cual, efectivamente el sujeto es inseparable del Otro; preguntarse
                    por el deseo del sujeto es preguntar por el deseo del Otro,
                    la pregunta por el goce es la pregunta por el goce del otro, etc. Dicho
                    de otra manera: en tanto que los fenómenos humanos (disculpar la
                    redundancia) son sustancialmente significantes, se requiere para su
                    análisis una serie de herramientas epistémicas propias de ese campo.</p>
                <p>Parte de la labor clínica consiste en articular la cadena de significantes
                    que determina la forma de estar en el mundo de la persona que
                    sufre, pues es en esa cadena donde el sufrimiento que acontece en él;
                    es legible. Por supuesto que al paciente le han pasado cosas y algunas de ellas nos pueden parecer especialmente llamativas. El caso radica
                    en que eso que nos parece significativo, interesante, importante, etc.
                    Nos lo parece así en función de nuestro propio sistema de referencias,
                    podríamos decir; en función de nuestro propio Otro (A tachada  ).</p>
            </div>
        </div>
    </div>
    <div class="next-page">
        <a routerLink="../pa12"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>