<div class="pagina">
    <div class="back">
        <a routerLink="../p5"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <app-cabecero2></app-cabecero2>
        <div class="boxes">
            <div class="box-1">
                <p>Lo verdaderamente extraordinario en todo
                    este debate consiste en que no es con las
                    propiedades del objeto con lo que se puede
                    determinar que es. Lo que se describe es que
                    <b>la contingencia del hecho conlleva una
                    esencia, una idea.</b></p>
                <p>Con lo cual, <b>se sugiere tratar todo hecho,
                    “fact”, como proceso psíquico</b>, como una
                    abstracción, lo cual es un planteamiento
                    clínico muy audaz puesto que da lugar a la
                    particularidad del caso, ya que al presentar al
                    “hecho” así, lo que logramos es que no se trate
                    de un caso a priori sino de un caso a elaborar,
                    un caso apenas por venir.</p> 
            </div>            
            <div class="box-2">
                <h4>Tratar todo hecho (fact) como proceso Psíquico</h4>
            </div>
        </div>
        <div class="boxes">
            <div class="box-1">
                <p>En la segunda sección Husserl trabaja
                    lo que titula;<b>la meditación fenomenológica
                    fundamental</b> , y efectivamente se trata de un
                    planteamiento clave a partir del cual derivan
                    enormes consecuencias, es una meditación
                    respecto de la ontología del sujeto. Dice:</p>
                
                <p>Esto es importante por que toda
                    corporalidad extensa, por aludir a la res
                    extensa de Descartes, queda completamente
                    separada de la meditación. Lo que resulta muy
                    difícil de creer, por que para nosotros los de a
                    pie, no tenemos manera de pensar en un sujeto
                    ajeno a su propio cuerpo, pensamos que sea
                    cual sea el planteamiento, de alguna manera
                    podemos localizarlo en una especie de interior
                    al cuerpo extenso, en el cerebro quizás o en
                    cualquier otra cosa que intuitivamente se nos
                    pueda ocurrir pero lo que seguramente no se
                    nos ocurriría jamás, es que haya un sujeto sin
                    cuerpo.</p>
                <p>Sin embargo, lo que nos propone es que
                    el sujeto funcione como una x vacía (p. 87)</p>
                <p>La cosa de la experiencia funciona como
                    un simple “esto”, una x vacía, sujeto de
                    determinaciones matemáticas que no existen
                    en el espacio de la percepción, solo existe en
                    el espacio de la representación.</p>
            </div>
            <div class="box-2">
                <p class="cita">Dado que puede modificarse
                    toda tesis y todo juicio, <b>al sujeto
                    corresponde pensarlo como siendo
                    sujeto de un juicio…</b> no hay juicio no
                    modificado. (p. 69)</p>
            </div>
        </div>
        <div class="boxes">
            <div class="box-1">
                <p>Y reiteramos, no se trata del aspecto
                    psicológico de un sujeto lo que sea inmaterial,
                    es el propio sujeto de análisis el que no tiene
                    materialidad tangible, es este el sujeto al que
                    formalmente le podemos adjudicar el estatuto
                    de verdadero. No por que el cuerpo sensible
                    no exista o no importe simplemente porque es
                    otra cosa, de gran importancia pero su función
                    es otra.</p>
                    
            </div>
            <div class="box-2">
                <img src="assets/fotos/chess.png" width="150px" alt="">
                
            </div>
        </div>
        <P>Y más adelante lo indica con total claridad:</P>
                    <p class="cita">“con seguridad es concebible una
                    conciencia sin cuerpo” todas las vivencias
                    empíricas y psicológicas son índices de
                    experiencias acotadas de forma esencial
                    (p. 124).</p>
    </div>
    <div class="next">
        <a routerLink="../p7"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>