<div class="pagina">
    <div class="back-page">
        <div class="back-page">
           <a href="../"><i class="fas fa-chevron-left fa-3x"></i></a>
        </div>
        
    </div>

    <div class="page-content">
        <app-cabecero2></app-cabecero2>
        <div class="boxes">
            <div class="box-1">
                <img src="assets/fotos/husserl1.svg" alt="">
            </div>
            <div class="box-2">
                <h1>LA NOCIÓN DE SUJETO EN HUSSERL</h1>
        <p>Es bien sabido que el esfuerzo
            central en la obra de Husserl es el de
            la fundamentación del conocimiento
            científico, por lo que en este recorrido nos
            proponemos localizar el papel que ocupa
            en ese proyecto la noción de sujeto: que
            valor tiene la experiencia personal en
            esa fundamentación y como se debería
            orientar clínicamente la psicología
            que Husserl propone como psicología
            autentica. Para ello haremos un recorrido
            en tres pasos: 1º una introducción
            general a la obra de Husserl, 2º la critica
            a la Psicología y 3º la noción de sujeto.</p>
        <h2>INTRODUCCIÓN GENERAL</h2>
        <p>La obra de Husserl es claramente uno de los trabajos
            de gran influencia para el desarrollo de la ciencia moderna y la
            fundamentación del conocimiento científico. He de ello que
            sea de gran importancia para nosotros en nuestra tarea de
            investigación.</p>
        <p>Su obra consta de 45000 folios, que son el archivo
            Husserl en la universidad de Lovaina o bien 45 tomos de la
            colección husserliana. Con lo cual nosotros haremos una selección
            de algunas de sus obras más frecuentadas y a su vez
            trabajaremos con las ideas que se repiten con más frecuencia.</p>
        <p>Es decir, no trabajaremos con análisis finísimos de alguna
            frase dicha en alguna ocasión escondida en el mar de citas
            de su obra. Por el contrario, las citas que trabajaremos en esta
            presentación son algunas entre muchas posibles con la misma
            línea argumentativa.</p>
        <p>Comencemos entonces por Filosofía de la aritmética. En
            ese trabajo podemos ver que dentro de sus herramientas de
            investigación figura notablemente la matemática y la psicología.
            de hecho, el trabajo aborda dos temas de mucho interés
            para nuestro campo.</p>
        <ol>
            <li>La intuición de los conceptos de la aritmética.</li>
            <li>la fundamentación científica de eses conceptos.</li>
        </ol>
            </div>
        </div>
    </div>
    <div class="next-page">
        <div class="next">`
            <a routerLink="../p2"><i class="fas fa-chevron-right fa-3x"></i></a>
            
        </div>
        
    </div>
</div>