
    <header>
        <div class="title">
            <div class="husserl">
                <h2>Capítulo 2</h2>
                <h3>La Noción de Sujeto en Husserl</h3>
            </div>
            <div class="logo">
                <h1>O T M</h1>
            </div>
        </div>
        
        <div class="links">
            <a routerLink=""> <i class="fas fa-home"></i> Home</a>
            <a routerLink="/caps"> <i class="fas fa-boxes"></i> Capitulos</a>
            <a href=""><i class="fas fa-microphone-alt"></i>   PODCAST</a>
            <a routerLink="./p12"><i class="fas fa-users"></i>   REFERENCIAS</a>
        </div>  
    </header>   

<div class="paginacion">

    <div class="paginas">
        <a routerLink="./p1" routerLinkActive="active">1</a>
        <a routerLink="./p2" routerLinkActive="active">2</a>
        <a routerLink="./p3" routerLinkActive="active">3</a>
        <a routerLink="./p4" routerLinkActive="active">4</a>
        <a routerLink="./p5" routerLinkActive="active">5</a>
        <a routerLink="./p6" routerLinkActive="active">6</a>
        <a routerLink="./p7" routerLinkActive="active">7</a>
        <a routerLink="./p8" routerLinkActive="active">8</a>
        <a routerLink="./p9" routerLinkActive="active">9</a>
        <a routerLink="./p10" routerLinkActive="active">10</a>
        <a routerLink="./p11" routerLinkActive="active">11</a>
        <a routerLink="./p12" routerLinkActive="active">12</a>
    </div>  
</div>
 <router-outlet> </router-outlet>

 <div class="paginacion">

    <div class="paginas">
        <a routerLink="./p1" routerLinkActive="active">1</a>
        <a routerLink="./p2" routerLinkActive="active">2</a>
        <a routerLink="./p3" routerLinkActive="active">3</a>
        <a routerLink="./p4" routerLinkActive="active">4</a>
        <a routerLink="./p5" routerLinkActive="active">5</a>
        <a routerLink="./p6" routerLinkActive="active">6</a>
        <a routerLink="./p7" routerLinkActive="active">7</a>
        <a routerLink="./p8" routerLinkActive="active">8</a>
        <a routerLink="./p9" routerLinkActive="active">9</a>
        <a routerLink="./p10" routerLinkActive="active">10</a>
        <a routerLink="./p11" routerLinkActive="active">11</a>
        <a routerLink="./p12" routerLinkActive="active">12</a>
    </div>  
</div>
 <footer>
    <p>Proyecto de Investigación &copy; 2020</p>
</footer>
