
<div class="title">
    <div class="lacan">
        <h2>Capítulo 4</h2>
        <h3>La Noción de Sujeto en Lacan</h3>
    </div>
    <div class="logo">
        <h1>OTM</h1>
    </div>
</div>
        
<div class="links">
    <div>
        <a routerLink=""><i class="fas fa-home"></i>   HOME</a>
    </div>
    <div>
        <a routerLink="/caps"> <i class="fas fa-boxes"></i>   CAPÍTULOS</a>
    </div>
    <div>
        <a href=""><i class="fas fa-microphone-alt"></i>   PODCAST</a>
    </div>
    <div>
        <a routerLink="../p12"><i class="fas fa-users"></i>   REFERENCIAS</a>
    </div>
</div>  

    <app-pagination4></app-pagination4>
     
    <router-outlet></router-outlet>
    <app-pagination4></app-pagination4>
<footer>
    <p>Proyecto de Investigación &copy; 2020</p>
</footer>
