

<div class="land">
    <div class="imagen">
        <div>
            <h1>La Noción de Sujeto en el Campo de la Psicología Auténtica</h1>
            <h2>Obeth Torres Moreno</h2>
        </div>
        
        <div class="capitulos">
            <div  class="cap">
                <h3>Hegel:</h3>
                <p>Que lo verdadero no se exprese como sustancia, sino también y en la misma medida como sujeto. </p>
            </div>
            <div  class="cap">
                <h3>Husserl:</h3>
                <p>Que el sujeto funcione como una X vacía. </p>
            </div>
            <div  class="cap">
                <h3> Heidegger:</h3>
                <p>El sujeto de la cotidianidad: el UNO. </p>
            </div>
            <div  class="cap">
                <h3>Lacan:</h3>
                <p>Entender siempre al Sujeto en inmixión de Otredad. </p>
            </div>
        </div>
    </div>
</div>
<div class="extras">
    <div>
        <i class="fas fa-share-alt fa-3x"></i>
        <p>Compartir</p>
    </div>
    <div>
        <i class="far fa-comment-alt fa-3x"></i>
        <p>Comentar</p>
    </div>
    <div>
        <i class="fas fa-file-alt fa-3x"></i>
        <p>Descargar pdf</p>
    </div>
    <div>
        <i class="fas fa-couch fa-3x"></i>
        <p>Consulta Online</p>
    </div>

</div>