

<div class="land">
    <div class="imagen">
        <div class="title">
            <h1>La Noción de Sujeto en el Campo de la Psicología Auténtica</h1>
            <h2>Obeth Torres Moreno</h2>
        </div>
    </div>
</div>
<div class="extras">
    <div>
        <i class="fas fa-share-alt fa-3x"></i>
        <p>Compartir</p>
    </div>
    <div>
        <i class="far fa-comment-alt fa-3x"></i>
        <p>Comentar</p>
    </div>
    <div>
        <i class="fas fa-file-alt fa-3x"></i>
        <p>Descargar pdf</p>
    </div>
    <div>
        <i class="fas fa-couch fa-3x"></i>
        <p>Consulta Online</p>
    </div>

</div>