<div class="pagina">
    <div class="back-page">
        <a routerLink="../pa4"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <div class="boxes">
            <div class="box-1">
                
            </div>
            <div class="box-2">
                <p>Es decir, la ocupación del campo clínico, que es la curación de
                    los sufrimientos que no son causados por el cuerpo biológico, que son
                    los malestares del campo de los significantes, requieren una orientación
                    específica. Se trata de un universo inaccesible para la intuición
                    o la investigación empírica, se requiere notablemente de la filosofía,
                    pero también de la lingüística, la historia, la sociología, la antropología,
                    la economía… se requiere del conjunto de las ciencias y la condición
                    particular para poder plantear seriamente fenómenos como el dolor,
                    el miedo, la soledad, etc.</p>
                    <p>Teniendo en cuenta que no podemos revisar todas las publicaciones
                        respecto del amor, la felicidad o la fe, por que no está en nuestras
                        posibilidades humanas abarcar una investigación de ese tamaño
                        para cada caso; nos ocuparía decenas de años y sin embargo no eliminamos
                        la imposibilidad estructural que hemos señalado; que al tratar
                        de resumir una definición utilizable en el laboratorio reducimos esos
                        términos a palabras y con ello perdemos las posibilidades de conocer
                        lo que se pretendía investigar.</p>
                        <p>Lo que propone Lacan es que tales fenómenos, así como <b>toda
                            manifestación corporal; es significante.</b> Comporta significantes e
                            implica sentido que no se puede definir por fuera del contexto de su
                            acontecimiento.</p>
                            <p>Pensemos en la mentira, si se puede mentir diciendo la verdad
                                (voy a decir que voy a Cracovia para que crea que estoy mintiendo y
                                que voy a Lemberg cuando en realidad voy a Cracovia), entonces hay
                                que asumir que en el universo significante; nada es en sí mismo, puesto
                                que todo significante depende de lo que son los otros.</p> 
                
            </div>
        </div>
        
    </div>
    <div class="next-page">
        <a routerLink="../pa6"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>