<div class="pagina">
    <div class="back-page">
        <a routerLink="../pa1"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <div class="boxes">
            <div class="box-1">
                    <p>Lacan recoge del campo de las matemáticas un importante debate
                respecto de la formalidad lógica de la ciencia; el proyecto que se
                cita como el Programa de Hilbert intentaba asegurar los fundamentos
                de las matemáticas, concretamente luchaban contra la idea de que hubiese
                cosas en el campo de las matemáticas que nunca llegaríamos a
                saber, el programa consistía en demostrar que las cosas que aún no
                sabemos, el esfuerzo nos haría conocerlas en el futuro.</p>
                <p>Finalmente se demostró justo lo contrario, con el trabajo de personalidades
                como <b>Cantor, Frege, Gödel,</b> entre otros, se demostró que
                la articulación del conocimiento científico conlleva en su propia formalización
                ciertos vacíos imposibles de superar pues forman parte de la
                propia estructura teórica del conocimiento.</p>
                <p>Lacan, al hilo de ese debate hace uso de <b>los teoremas de incompletitud
                de Gödel</b> para operar con el lenguaje. En su trabajo sobre
                los discursos describió cuatro modos en los que esa imposibilidad
                opera; <span class="color">la inconsistencia en el discurso de la Ciencia, la incompletud
                en el discurso del Amo, lo indemostrable en el discurso Universitario
                y lo indecidible en el discurso del Analista.</span></p>
            </div>
            <div class="posiciones">
                <img src="assets/fotos/4lugares.svg" alt="los cuatro lugares del discurso">
            </div>
        </div>
        
        
    </div>
    <div class="next-page">
        <a routerLink="../pa3"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>