<div class="pagina">
    <div class="back">
        <a routerLink="../p3"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <app-cabecero2></app-cabecero2>
        <div class="boxes">
            <div class="box-1">
                <h3>CRITICA PRINCIPAL A LA PSICOLÓGIA</h3>
                <div class="div">
                     <img src="assets/fotos/psi.svg">
                </div>
               
            </div>
            <div class="box-2">
                <p><b>La obra principal para esta critica
                    es: Die Krisis (1935)</b> <br>En este trabajo Husserl
                    aborda fuertemente el problema de la
                    psicología, la edición en español tiene 309
                    páginas y encontramos 310 citas respecto
                    a la psicología. es notable que para Husserl
                    la crisis de las ciencias europeas está
                    fuertemente reflejado en el campo de la
                    psicología, en sus conceptos, en el horizonte
                    de sus investigaciones, etc. Particularmente
                    va a trabajar la idea de una psicología pura,
                    una psicología trascendental y una psicología
                    auténtica. De entraba advierte que trabajar la
                    idea de “Psicología pura” conduce a la filosofía
                    trascendental.</p>
                <p>Entonces, La fuertísima critica que hace
                    es que no hay una ciencia que estudie
                    al hombre que habita en el mundo, se
                    esperaría que fuese la psicología, pero no lo
                    es. La problemática que plantea es el siguiente:</p>
                <p class="cita">La psicología pura no conoce sino lo
                    subjetivo; y permitir dentro de eso algo
                    objetivo como existente ya significa
                    abandonarla (p. 294).</p>
                <p>La puntualización es extraordinaria;
                    sugiere que la practica orientada solamente
                    en el paciente, en lo que él piensa, lo que él
                    siente, lo que a él le paso… no puede darse
                    porque no existe.</p>
                <p>No solo que las vivencias del paciente
                    tenga fuertes vínculos con las vivencias del
                    otro, sino que aquello que de alguna manera
                    intentamos pensar como deseable, valioso,
                    importante… se constituye con lo que es
                    deseable, valioso, importante… para el otro.
                    es decir, que la orientación clínica requiere
                    incluir en su análisis lo que desean los otros
                    del paciente. Sin ello queda encerrado en un
                    solipsismo ciertamente impropio del hombre
                    tal como lo conocemos. Pues tal como lo
                    hemos venido trabajando; para un sujeto el
                    otro no le es exterior.</p>
                <p>En el primer trabajo en que se
                    divide Krisis nos presenta un problema; la
                    incompresibilidad de los problemas de la
                    razón. y un diagnóstico del problema; el
                    dualismo. A este problema, Husserl lo señala
                    como “la naturalización de lo psiquico (Krisis
                    pag. 106)”, ya que el modo de abordar las
                    investigaciones respecto a fenómenos como
                    el juicio, el gusto, la inteligencia, etc. se hacía
                    desde la biología, a través de los cambios
                    bioquímicos de su maquinaria corporal.</p>
                <p>El debate clave consiste en saber
                    que esta en la base; si lo humano se puede
                    explicar fundamentalmente con la química
                    y la biología, o quizás con la física… o las
                    matemáticas… se trata de la pregunta por el
                    paradigma científico fundamental.</p>
            </div>
            

        </div>
    </div>

    <div class="next">
        <a routerLink="../p5"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>


</div>