<div class="pagina">
    <div class="back-page">
        <a routerLink="../page8"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <app-cabecero></app-cabecero>
        <div class="boxes">
            <div class="box-1">
                <p class="cita">Pag. 131 Sin llamar la atención y sin que se
                lo pueda constatar, el uno despliega una auténtica
                dictadura.</p>
                <p class="cita">Gozamos y nos divertimos como se
                goza; leemos, vemos y juzgamos sobre literatura
                y arte como se ve y se juzga; pero también
                nos apartamos del “montón” como se debe
                hacer; encontramos “irritante” lo que se debe
                 encontrar irritante. El uno, que no es nadie determinado
                y que son todos (pero no como la suma de
                ellos), prescribe el modo de ser de la cotidianidad.</p>
            </div>
            <div class="page-9">
                <p>La orientación clínica que se plantea con
                    el trabajo de Heidegger es extraordinaria y lo
                    más increíble es que ahora contamos con una
                    tecnología extraordinaria también; algo que
                    se viene llamando, entre otros nombres, como
                    minería de datos. Pero antes de sumergirnos
                    en ese campo es de máxima importancia detenernos
                    con suficiente detalle en nociones
                    como esta; El Uno.</p>
                <p>Sin ese trabajo previo podríamos pasarnos
                    muchas muchas cesiones buscando como
                    se formo en el paciente tal o cual idea, gusto
                    o vicio.</p>
                <p>Pongamos por caso el adicto a los videojuegos:
                    sin el trabajo previo tendríamos
                    la ingenuidad de suponer que la idea de jugar
                    videojuegos haya surgido en el paciente, o incluso
                    como si el gusto experimentado personalmente
                    cada vez que juega fuese algo propio.</p>
                <p>Sin duda como persona es responsable
                    de sus actos, pero en tanto Dasein habría que
                    pensar en ese gusto como siendo del otro, no
                    siendo él en el sentido de si-mismo, sino siendo
                    los otros en el sentido del Uno [das Man] .</p>
                <p>Por lo tanto, el análisis de los datos, tanto
                    los big data como los datos proporcionados
                    por el paciente en la consulta analítica; es decir,
                    el material analítico, no esta en el mismo
                    modo de las cosas que están en el mundo,
                    esta en el modo existencial del Dasein, son
                    cooriginarios con él. Antes de poder mirar en
                    los datos hay que formular un Sujeto en torno
                    al cual los datos son efectivamente sus formas
                    de ser.</p>
                <p>Lo que resulta en una orientación clínica
                    completamente contraria a la que conocemos,
                    que va de los datos al sujeto, se reúnen
                    un conjunto de datos y se le pone un nombre;
                    por ejemplo Trastorno dependiente de la personalidad.
                    Después cualquiera que con esos
                    datos es un trastornado igual.</p>
                <p>La orientación moderna, es decir la que
                    se formula con el conjunto del saber científico
                    moderno (lógica moderna, epistemología
                    moderna... ) Es justamente la que facilita las
                    herramientas desde donde podemos analizar
                    el fundamento óntico y ontológico de caso clínico.
                    Lo que nos hace ir del sujeto a los datos
                    y de los datos al sujeto en igual importancia.</p>
                <p>Por lo que mientras en el modelo clásico,
                    la importancia esta en los datos a pesar
                    de que el paciente este presente onticamente,
                    es en el modelo moderno en donde la importancia
                    esta en el Sujeto, este o no presente onticamente
                    el paciente. Y esa es justamente la
                    tarea que vamos a abordar en el último paso
                    de este recorrido con el análisis de la noción
                    de Sujeto en Jaques Lacan.</p>
            </div>
        </div>
        <app-pie></app-pie>
    </div>
    <div class="next-page">
        <a routerLink="../"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>