<header>
    <div class="message">
        <p>Black Lives Mather</p>
    </div>

    <div class="main-title">

        <div class="title">
            <h1>La Noción de Sujeto: </h1>
            <h2> En el Campo de la Psicología Auténtica</h2>
        </div>

        <div class="logo">
            <h2>OTM</h2>
        </div>

    </div>
    
    <div class="links">
        
        <ul>
            <li>
                <a routerLink="/" routerLinkActive="active"><i class="fas fa-home"></i>    HOME</a> 
            </li>
            <li>
                <a routerLink="/caps" routerLinkActive="active"><i class="fas fa-boxes"></i>    CAPITULOS</a>
            </li>
            <li>
                <a routerLink="/media" routerLinkActive="active"> <i class="fab fa-youtube"></i>    VIDEOS</a>
            </li>
            <li>
                <a routerLink="/login" routerLinkActive="active"><i class="fas fa-sign-in-alt"></i>    LOGIN</a>
            </li>
        </ul>    
                
    </div>

</header>
