<div class="pagina">
    <div class="back">
        <a routerLink="../p1"><i class="fas fa-chevron-left fa-3x"></i></a>
        
    </div>
    <div class="page-content">
        <app-cabecero2></app-cabecero2>
        <div class="boxes">
            <div class="box-1">
                <p> <strong>No esta en los otros aquello que interesa saber de los otros.</strong> </p>
            </div>
            <div class="box-2">
                <p>Husserl propone como tarea fundamental de la fenomenología,
                    la de describir el sentido del mundo, pero trabaja
                    estas dos lineas de investigación:</p>
                <ol>
                    <li>El sentido del mundo antes de todo filosofar</li>
                    <li>El sentido de nuestra experiencia, la cual no
                        es accesible de manera espontánea. Es decir, no
                        se trata de sensaciones corporales.</li>
                </ol>
                <p>Este punto es crucial para nuestra tarea pues muchas
                    de las cosas de nuestra vida se nos presentar como incomprensibles.
                    Algunos síntomas que trabajamos en la consulta se
                    presentan justamente así, situaciones que pierden sentido o
                    aparecer desde un principio como incompresibles, lo que puede
                    estar acompañado de una fuerte carga de angustia, no solo
                    por lo problemático de la situación sino por la propia carencia
                    de sentido.</p>
                <p>A su vez, la experiencia se presenta con completa validez,
                    pues su condición de veracidad radica en que podemos
                    confirmar que algo ocurre, podemos no saber que sentido tiene
                    pero lo que si sabemos es que lo estamos padeciendo.</p>
                <p>He de ello que cuando una persona refiere que le critican,
                    o el alumno que se queja de la mala fé que le tiene el
                    profesor o de lo aburridas que son las matemáticas... Todo eso
                    es cierto en el sentido de que la persona lo esta experimentando
                    así, no se trata de ir a interrogar a las personas de su
                    entorno para ver si es verdad. No es eso lo que interesa para
                    comprender el sentido del caso. Es decir, y esta es la línea de
                    trabajo que vamos a seguir; no está en los otros aquello que
                    interesa saber de los otros.</p>
                <p>Husserl presenta <strong>una crítica muy bien planteada a
                    la psicología de su tiempo.</strong> No se trata solo de critica
                    a una corriente dentro de la psicología, como las técnicas del
                    comportamiento, sino al modo en el que se entiende el propio
                    campo de estudio. y más aún llegara a plantearlo como <b>la crisis
                    de las ciencias europeas</b> .</p>
                <p>Tomemos en cuenta que la psicología como otras diciplinas
                    de estudio se ajustaban al modelo científico que conocían.
                    Que a grandes rasgos podemos describir como vinculadas al:
                    Materialismo, positivismo, pragmatismo. Concretamente lo
                    que defienden estos modelos es que el modo de conocer verdaderamente
                    la realidad es por medio de las cosas materiales.
                    No obstante, lo que ahora podemos citar como Giro epistemológico
                    demuestra la inutilidad argumentativa de las nociones
                    centrales de esa idea (por ejemplo: el testeo empírico de la
                    teoría ).</p>
            </div>
        </div>
    </div>
    <div class="next">
        <a routerLink="../p3"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>