<div class="pagina">
    <div class="back-page">
        <a routerLink="../pa8"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <div class="boxes">
            <div class="box-1"></div>
            <div class="box-2">
                <p>Respecto a la falta, cabe mencionar que no se trata de algo que
                    falte para completar ninguna totalidad, esa ausencia es una condición
                    estructural del propio lenguaje. Cuya demostración formal se puede
                    apreciar en el acontecimiento de los números naturales. No obstante
                    una forma intuitiva da observar, a modo de divertimento, la presencia
                    de esa falta, es con el juguete de ordenación lógica que se muestra a
                    continuación, al que le falta una ficha pero justamente esa ficha faltante
                    es la que hace que el juego sea lo que és, por lo que habría que
                    corregir diciendo finalmente que no le falta ninguna ficha, pero sobre
                    todo no le falta la falta.</p>
                    <div class="juego">
                        <img src="assets/fotos/juego-fichas.svg" alt="">
                    </div>
                <p>En el campo clínico de lo que hay que estar advertidos es que
                    el caso no está disponible a la observación, no hay nada en el cuerpo
                    o el comportamiento pasado que nos diga de que nos habla alguien
                    cuando nos habla de algo. Para ello es necesario articular una cadena
                    de significantes.</p>
                <p>De esa puesta en relación de los significantes, además de implicar
                    una falta, también sabemos por la operación separación, que eso
                    que le falta al significante en cuestión y que por estructura tampoco
                    está en la cadena de significantes es algo que se pone en relación; Para
                    Lacan es una relación entre la falta en el sujeto ( ) y la falta en el Otro
                    ( : tesoro de los significantes ). la falta en uno con la falta en el otro.</p>
            </div>
        </div>

    </div>
    <div class="next-page">
        <a routerLink="../pa10"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>