
<div class="paginacion">
    <div class="paginas">
        <a routerLink="./pag1" routerLinkActive="active">1</a>
        <a routerLink="./pag2" routerLinkActive="active">2</a>
        <a routerLink="./pag3" routerLinkActive="active">3</a>
        <a routerLink="./pag4" routerLinkActive="active">4</a>
        <a routerLink="./pag5" routerLinkActive="active">5</a>
        <a routerLink="./pag6" routerLinkActive="active">6</a>
        <a routerLink="./pag7" routerLinkActive="active">7</a>
        <a routerLink="./pag8" routerLinkActive="active">8</a>
        <a routerLink="./pag9" routerLinkActive="active">9</a>
        <a routerLink="./pag10" routerLinkActive="active">10</a>
        <a routerLink="./pag11" routerLinkActive="active">11</a>
    </div>
   
</div>