<div class="pagina">
    <div class="back-page">
        <a routerLink="../"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <div class="boxes">
            <div class="box-1">
                <div class="sujeto-barrado">
                    <img src="assets/fotos/sujeto-barrado.svg" alt="">
                </div>
            </div>
            <div class="box-2">
                <h1>La noción de sujeto en Lacan</h1>
                <p>Como hemos trabajado ya en los anteriores capítulos, la noción
                 habitual que se tiene de Sujeto está vinculada a la noción de persona,
                    ciudadano, humano, cliente, individuo, eventualmente paciente. Esta
                    noción de persona; tiene inteligencia, voluntad, libre albedrío, pero
                    además es corpórea y esa corporeidad le es esencial a esa condición.</p>
                    <p>Lo que plantea Lacan está articulado con el neologismo “parlêtre”,
                  creado justamente para rechazar las anteriores acepciones. No
                   obstante, para trabajar la noción de Sujeto, que en la obra de Lacan se
                    escribe ($) vamos revisar algunos de los textos de la obra de Lacan en
                  los que se ocupó particularmente de aclarar cómo opera esa noción
                   en su enseñanza.</p>
                <ul>
                     <li>
                        <h2>Position de L’inconscient
                             (1966):</h2><p>Donde se trabajan dos operaciones matemáticas del campo de la
                             Teoría de conjuntos (unión y separación) como causa del sujeto.</p>
                    </li>
                     <li>
                        <h2>Subversión du sujet (1960):</h2><p>Donde aparece la noción de la estructura que fundamenta la práctica
                            del Psicoanálisis, y que deriva de la siguiente fórmula: el inconsciente
                             está estructurado como un lenguaje.</p>

                    </li>
                    <li>
                        <h2>Of Structure as an Inmixing of
                       an Otherness Prerequisite to
                       any Subject Whatever (1966):</h2><p>Como lo indica el título de su conferencia; propone entender siempre
                        al sujeto en inmixión de Otredad. En tanto el Otro ( ); es como
                        define al conjunto de los significantes.</p>
                     </li>
                </ul>
            </div>
        </div>
        
    </div>
    <div class="next-page">
        <a routerLink="../pa2"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>