

<div class="pagina">
    <div class="back-page">
        <a routerLink="../pag1/"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
        
        <!--MAIN PAGE -->
    <div class="page-content">
        <app-cabecero></app-cabecero>
        <P>Es importante tomar en cuenta que en el panorama
                científico completo, es decir tomando en cuenta
                todas las disciplinas científicas de nuestra comunidad
                (biología, química, física… todas), nos encontramos con
                muy pocas proposiciones respecto a la definición de
                la vida, es decir; es muy raro encontrar formalmente
                planteada una propuesta resperco a la vida.</P>
        <p>Para Llya Prigogine, premio Nobel de Química,
                vida es la inscripción del tiempo en la materia. Cuando
                trabajemos Heidegger veremos que su tesis es que el
                sujeto (la idea de sujeto) nació, lo que implica que antes
                de su nacimiento no existía, había habitantes sobre
                la tierra, pero no sujetos. Vamos a trabajar con ambas
                propuestas.</p>  
        <p>Pues para nosotros en el campo de la Ψ será
                    de gran importancia poder plantear si hay o no sujeto
                    en el caso clínico y si la persona que acude a consulta
                    está viva, en el sentido propiamente humano de estar
                    vivo. Pues es notable que algunas personas parecen
                    como muertas; comen, trabajan, tienen actividades
                    sociales, familiares, practican deportes, etc. y sin embargo
                    están como muertas.</p>
        <p>Con Hegel podemos plantear lo siguiente;
                si en el relato de la vida de alguien no somos capaces
                de localizar una cierta posición de otredad
                para consigo mismo, difícilmente podemos justificar
                que hay allí sujeto; una sustancia viva capaz de
                vivir experiencias, en el sentido humano.</p>
        <p>Hegel inicia su análisis con la experiencia de la
                conciencia, trabaja la experiencia del la Otredad, pues
                enunciado así (Otredad) nos facilita distanciarnos de la
                idea de que ese otro es alguien. Lo que intento proponer
                es que la Otredad respecto a la cual la persona
                reconoce su deseo y busca que su deseo sea
                reconocido, es una noción abstracta que opera en
                el campo del lenguaje y no se trata de la función
                de alguien; el papá, la mamá, el profesor, ninguno en
                sí mismo tiene propiedad de ser la Otredad. No obstante,
                en el estudio de un caso clínico eventualmente
                se pueda sugerir una especie de encarnadura de esa
                función, pero que su valides es únicamente para ese
                caso en el que se está hipotetizando esa lectura.</p>

        <div class="boxes">
            <div class="box-1">
                   <p> Con lo cual; en esta parte del trabajo de Hegel nos
                encontramos con tres elementos clave:</p> 
            </div>
            <div class="box-2">
                    <div>
                        <ol>
                            <li style="background-color: #a82911;">La cosa que se percibe</li>
                            <li style="background-color: #a87a11;">El yo que la percibe</li>
                            <li style="background-color: #f5ae0c;">La experiencia</li>
                        </ol>
                    </div>
            </div>

        </div>

        <div class="boxes">
            <div class="box-1">
                <p>De momento para no saltarnos pasos; la cosa
                    que se percibe, un objeto cualquiera como el árbol, la
                    mesa, la silla, pero también y es muy importante irlo
                    pensando así, <span style="color: #a87a11;"><b>el caso clínico.</b></span>  Esta cosa, dice Hegel;</p>
                <p>Nos encontramos entonces con la imposibilidad
                    de decir lo esencial del objeto pues solo decimos
                    sus cualidades. Es decir, al tratar de describir la percepción
                    del objeto usamos el lenguaje, que son los
                    conceptos, y si queremos pasar del objeto; nos encontramos
                    con las cualidades del objeto, pero estas a su vez con más conceptos.</p> 
            </div>    
            <div class="box-2"> 
                <p class="cita">...se me ofrese como un puro <b>uno</b>; más yo descubro
                    también en él la propiedad que es univerzal,
                    pero que, por serlo, rebasa la singularidad. Por
                    tanto, el primer ser de la escencia objetiva como
                    un <b>uno</b> no era su verdadero ser.</p>
                </div>
            </div>
            <footer>
            <p>TFM | la Noción de Sujeto Para un Psicología Auténtica</p>
            </footer>
        </div>
        

    <div class="next-page">
        <a routerLink="../pag3"><i class="fas fa-chevron-right fa-3x"></i></a>
        
    </div>
    
</div>
    

