<div class="paginas">
    <a routerLink="./pa1" routerLinkActive="active">1</a>
    <a routerLink="./pa2" routerLinkActive="active">2</a>
    <a routerLink="./pa3" routerLinkActive="active">3</a>
    <a routerLink="./pa4" routerLinkActive="active">4</a>
    <a routerLink="./pa5" routerLinkActive="active">5</a>
    <a routerLink="./pa6" routerLinkActive="active">6</a>
    <a routerLink="./pa7" routerLinkActive="active">7</a>
    <a routerLink="./pa8" routerLinkActive="active">8</a>
    <a routerLink="./pa9" routerLinkActive="active">9</a>
    <a routerLink="./pa10" routerLinkActive="active">10</a>
    <a routerLink="./pa11" routerLinkActive="active">11</a>
    <a routerLink="./pa12" routerLinkActive="active">12</a>
    <a routerLink="./pa13" routerLinkActive="active">13</a>
    <a routerLink="./pa14" routerLinkActive="active">14</a>
    <a routerLink="./pa15" routerLinkActive="active">15</a>
    <a routerLink="./pa16" routerLinkActive="active">16</a>
</div>