
<div class="pagina">
    <div class="back-page">
        <a routerLink="../pag5/"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div> 
    <div class="page-content">
        <app-cabecero></app-cabecero>
        <div class="boxes">
            <div class="box-1">
                <div class="male-female">
                    <img src="assets/fotos/male-female.svg" alt="">
                </div>
            </div>
            <div class="box-2">
                <p>En el desarrollo de la ciencia nos percatamos de que cuando en
                        un modelo aparece un concepto nuevo, todo el modelo se transforma.
                        De hecho en consulta corroboramos de igual modo que si hay un concepto
                        nuevo en la vida del paciente, toda su vida se transforma, la realidad
                        es otra.</p>
                <p>En el trabajo clínico <strong>habría que considerar el síntoma como
                        una idea en una comunidad, no como un fallo, sino como una
                        forma de participar de las ideas de su entorno.</strong> Hegel diría; el modo
                        en el que esa idea se manifiesta.</p>
                <p>Ahora bien, es comprensible la dificultad de asimilar este modelo,
                        en tanto que la idea de tiempo con la que nos manejamos en la
                        cotidianidad es la idea de tiempo cronológico; que es lineal, unidireccional
                        y que se representa claramente con una flecha, la flecha del tiempo.</p>
                <p>No obstante, es en la ciencia moderna donde el espacio tiempo
                        es curbo, es individual para cada particula, es bidireccional y desde
                        donde se puede plantear la idea de surgimiento estructural sincrónico,
                        que impide trabajar con; primero, segundo, tercero, que es un modelo
                        donde ningún punto puede ser señalado como el ahora, etc.</p>
                <p>Tal modelo sirve para entender el concepto de sincronia de
                        Sausure, la sustancia estructurada como sujeto de Hegel, el inconsciente
                        estructurado como un lenguaje de Lacan. y sobre todo es de gran utilidad
                        para orientar una clínica acorde a las concepciones de la física
                        moderna, al modo en el que entendemos la estructura del universo y al
                        modo como entendemos la condición humana.</p>
                <p>Por ejemplo: es una herramienta clínica clave para pensar la culpa
                        del padre por el síntoma del hijo, la angustia de los padres que se sienten
                        responsables respecto al síntomas de su hijo. Pues habría que pensar
                        el sujeto como un estructura que articula de manera caótica e imprevisible
                        un conjunto de elementos que producen una novedad y
                        respecto a la cual los padres, amigos, etc. no tienen relevancia, son
                        elementos del caso, pero no en relación de causalidad.</p>
            </div>
        </div>
    </div>
    <div class="next-page">
        <a routerLink="../pag7"><i class="fas fa-chevron-right fa-3x"></i></a>
        
    </div>
</div>