<div class="pagina">
    <div class="back-page">
        <a routerLink="../page1"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <app-cabecero></app-cabecero>
        <p>Con lo cual, conviene no intentar traduTFM
            El sujeto de la ψ auténtica
            3 Cap. 3 El sujeto en Heidegger
            cir la palabra Dasein por Hombre, existencia,
            ser-ahí, sujeto, paciente... Bien es cierto que
            muchas veces puede funcionar pensarlo así,
            pero con ello se pierde el punto más importante
            de toda la obra; la apertura. No solo la
            condición de apertura que tiene el ser humano
            respecto a sí mismo, sino también; que esa
            apertura es una posibilidad que puede o no
            aparecer y que alude al abrirse del propio ser.</p>
        <p>Para nuestro proyecto, que es la práctica
            clínica, podemos observar que la persona
            corriente generalmente anda sin preguntarse
            nada; se convierte en padre, en el sentido de
            criar o dar a luz pero nunca se pregunta en
            que consiste esencialmente la tarea paterna.
            Un profesor pueden dar clases, en el sentido
            de estar frente a un grupo de alumnos,
            pero nunca haberse preguntado por la esencia
            de la enseñanza.</p>
        <p>Por su puesto no se trata de que todos
            los profesores del mundo se pregunten
            lo mismo, lo que se intenta mostrar es que la
            irrupción de la pregunta puede no ocurrir y
            justamente eso puede ser lo extravagante y de
            máximo interés para la clínica. Por ello conviene
            no entender Dasein como si se hablara del
            Hombre, pues si la pregunta acontece, Heidegger
            sugiere que conlleva tres implicaciones:</p>
        <ul>
            <li><p><b>Algo puesto en cuestión</b> [sein Gefregtes] </p></li>
            <li><p><b>Un interrogado</b> [ein Befragtes] </p></li>
            <li><p><b>Lo preguntado</b> [das Erfragte] </p></li>
        </ul>
        <p>De entrada, lo que nos muestra esas
            implicaciones; es que la pregunta no es para
            nada el punto inicial, pues antes de que una
            interrogación pueda surgir requiere una estructura
            óntica y ontológica desde la que efectivamente
            algo sea susceptible de ser preguntado,
            de ser puesto en cuestión.</p>
        <p>En nuestra tarea hemos puesto en cuestión
            uno de los conceptos fundamentales de
            la práctica clínica, que de manera provisional
            ubicamos con el nombre de “sujeto” pero según
            donde nos ocupemos de investigarlo aparecen
            otras posibilidades como paciente, persona,
            etc. Todos ellos nombres que resultan
            secundarios y que nos muestras la importancia
            de interrogar al Sujeto respecto de su ser,
            o dicho de otra manera;</p>
        <h4>Nos proponemos interrogar al Sujeto en Tanto Dasein.</h4>
        <p>En principio de cuentas comencemos
            la interrogación con la condición óntica del
            Dasein, Heidegger dice que “La peculiaridad
            óntica del Dasein consiste en que el Dasein
            es ontológico.”(pag. 22) es decir que su estar
            siendo tiene la forma de una comprensión del
            ser con respecto a la cual el Dasein se comporta
            de tal o cual manera.</p>
        <p>Por lo que hay que puntualizar que una
            de las formas posibles de entender al sujeto
            en tanto Dasein, es siendo una expresión de
            ser, incluso pura expresión de ser.</p>
        <div class="shapes">
            <p class="pregunta">¿Que será eso que estamos siendo?</p>
            <div class="foto">
                <img src="assets/fotos/shapes.png" width="100%" alt="">
            </div>            
            <p class="cubos">Cubos... tetraedros... esferas...toros...</p>
        </div>
        
    </div>
    <div class="next-page">
        <a routerLink="../page3"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>