
<div class="capitulos">

    <div class="cap">
        <div class="portada">
            <img [src]="foto2" width="100%" alt="Hegel">
        </div>
        <div class="resumen">

            <h3>Capítulo 1</h3>
            <h3>La Noción de sujeto en Hegel</h3>
            
            <p>Pronto en la lectura nos percatamos de que no se
                trata de ir recabando información sobre el sujeto en el
                sentido de llegar a un punto en el que completemos
                una especie de definición.</p>
            <p>Por el contrario, lo que vamos a encontrar es una serie de vacíos,
                fallas, inconsistencias; que lejos de ser errores o tropiezos de los que se esperaría
                una especie de superación, es en torno a esos vacíos que se va descubriendo
                un sistema de relaciones de máxima importancia para la idea de
                ley científica con la que intentamos fundamentar la veracidad de nuestras
                investigaciones. Y a su vez, abre un campo de posibilidades de gran novedad
                para la práctica clínica, en tanto se artícula una forma de pensar el deseo
                propiamente humano. Con lo cual el recorrido lo haremos en dos pasos: 1º
                El argumento hasta la idea de “ley científica” , 2º La propuesta sobre el
                deseo.</p>
            <div class="btn">
                <a routerLink="/cap1" >Leer Capítulo</a>
            </div>         
        </div>  
    </div>

    <div class="cap">
        <div class="portada">
            <img [src]="foto3" width="100%" alt="Hegel">
        </div>
        <div class="resumen">
            <h3>Capítulo 2</h3>
            <h3>La Noción de sujeto en Husserl</h3>
            <p>Pronto en la lectura nos percatamos de que no se
                trata de ir recabando información sobre el sujeto en el
                sentido de llegar a un punto en el que completemos
                una especie de definición.</p>
            <p>Por el contrario, lo que vamos a encontrar es una serie de vacíos,
                fallas, inconsistencias; que lejos de ser errores o tropiezos de los que se esperaría
                una especie de superación, es en torno a esos vacíos que se va descubriendo
                un sistema de relaciones de máxima importancia para la idea de
                ley científica con la que intentamos fundamentar la veracidad de nuestras
                investigaciones. Y a su vez, abre un campo de posibilidades de gran novedad
                para la práctica clínica, en tanto se artícula una forma de pensar el deseo
                propiamente humano. Con lo cual el recorrido lo haremos en dos pasos: 1º
                El argumento hasta la idea de “ley científica” , 2º La propuesta sobre el
                deseo.</p>
            <div class="btn">
                <a routerLink="/cap2">Leer Capítulo</a>
            </div>           
        </div>  
    </div>

    <div class="cap">
        <div class="portada">
            <img [src]="foto4" width="100%" alt="Heidegger">
        </div>
        <div class="resumen">
            <h3>Capítulo 3</h3>
            <h3>La Noción de sujeto en Heidegger</h3>
            <p>Pronto en la lectura nos percatamos de que no se
                trata de ir recabando información sobre el sujeto en el
                sentido de llegar a un punto en el que completemos
                una especie de definición.</p>
            <p>Por el contrario, lo que vamos a encontrar es una serie de vacíos,
                fallas, inconsistencias; que lejos de ser errores o tropiezos de los que se esperaría
                una especie de superación, es en torno a esos vacíos que se va descubriendo
                un sistema de relaciones de máxima importancia para la idea de
                ley científica con la que intentamos fundamentar la veracidad de nuestras
                investigaciones. Y a su vez, abre un campo de posibilidades de gran novedad
                para la práctica clínica, en tanto se artícula una forma de pensar el deseo
                propiamente humano. Con lo cual el recorrido lo haremos en dos pasos: 1º
                El argumento hasta la idea de “ley científica” , 2º La propuesta sobre el
                deseo.</p>
            <div class="btn">
                <a routerLink="/cap3">Leer Capítulo</a>
            </div>          
        </div>  
    </div>
    <div class="cap">
        <div class="portada">
            <img [src]="foto5" width="100%" alt="lacan">
        </div>
        <div class="resumen">
            <h3>Capítulo 4</h3>
            <h3>La Noción de sujeto en Lacan</h3>
            <p>Pronto en la lectura nos percatamos de que no se
                trata de ir recabando información sobre el sujeto en el
                sentido de llegar a un punto en el que completemos
                una especie de definición.</p>
            <p>Por el contrario, lo que vamos a encontrar es una serie de vacíos,
                fallas, inconsistencias; que lejos de ser errores o tropiezos de los que se esperaría
                una especie de superación, es en torno a esos vacíos que se va descubriendo
                un sistema de relaciones de máxima importancia para la idea de
                ley científica con la que intentamos fundamentar la veracidad de nuestras
                investigaciones. Y a su vez, abre un campo de posibilidades de gran novedad
                para la práctica clínica, en tanto se artícula una forma de pensar el deseo
                propiamente humano. Con lo cual el recorrido lo haremos en dos pasos: 1º
                El argumento hasta la idea de “ley científica” , 2º La propuesta sobre el
                deseo.</p>
            <div class="btn">
                <a routerLink="/cap4">Leer Capítulo</a>
            </div>       
        </div>  
    </div>
    
</div>
