<div class="pagina">
    <div class="back-page">
        <a routerLink="../p4"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>

    <div class="page-content">
        <app-cabecero2></app-cabecero2>
        <div class="boxes">
            <div class="box-1">
                <div class="telescopio">
                    <div >
                        <h4>Toda observación:</h4>
                        <p>Implica una intencionalidad</p>
                    </div>
                    <img src="assets/fotos/telescopio.svg">
                    <div>
                       <h4>Todo objeto:</h4> 
                       <p>Es un objeto intencional.</p>
                    </div>
                    <img src="assets/fotos/planeta.svg">
                </div>
                
            </div>
            <div class="box-2">
                <P>De lo que se percató Husserl es de que
                    no se le puede dejar todo el destino de la ciencia
                    a la biología o a la física o a las matemáticas…
                    como si alguna fuese un modelo completo,
                    acabado y sin fisuras.</P>
                <p>Puntualmente en el campo de la psicología
                    trabaja sobre la siguiente fisura; <b>la falsificación
                    psicologista del ego puro;</b> plantearse el ego
                    como un adentro y el mundo como un afuera.</p>
                <p>Más tarde veremos que efectivamente es
                    una topología inaplicable. La objeción principal
                    es que cuando se busca la fundamentación
                    de las proposiciones, <b> si se pasa por alto
                    la intencionalidad del sujeto entonces
                    no se tienen elementos para captar los
                    problemas de la razón,</b>  ¡es increíble! Pero
                    sin ello no alcanza ni para percatarse de los
                    problemas. Husser a eso le dice; “la banca rota
                    de las ciencias”.</p>
                <p>La posición que va a defender es que todas
                    las categorías de la objetividad (números,
                    magnitudes, figuras geométricas, etc.) son
                    ficciones. Pero también, y esto es lo grande,
                    las categorías del mundo pre-científico; como
                    la identidad o los objetos de la cotidianidad.
                    para Husserl son un conjunto de datos en
                    permanente cambio. Con ello llegá a lo que
                    llama el problema trascendental; <b>el problema
                    de una ciencia para el mundo de la vida.</b></p>
                <p>El mundo de la vida es fundamentalmente
                    el mundo pre-dado, el de nuestro diario
                    acontecer, el que experimentamos con el
                    cuerpo, pero su experimentación conlleva una
                    intencionalidad.</p>
                <p>Ahora bien, Husserl señala que <b>el problema
                    trascendental debe ser la conciencia de
                    la intersubjetividad,</b> el hecho de que en el
                    propio preguntarse interno de uno mismo
                    están los otros.</p>
                <p>Para Husserl <b>la psicología fracaso por
                    no preguntarse por el sentido único y
                    esencial de su tarea, como ciencia del
                    ser psicológico,</b> se dejó guiar, dice Husserl,
                    por la ciencia de la naturaleza, como siendo
                    un agregado de la biología. Ahora bien, la
                    psicología como cualquier otra ciencia objetiva
                    depende del mundo pre-dado, atado a eso
                    que en el lenguaje corriente de una comunidad
                    se puede nombrar, Husserl dice; lo psíquico
                    expresable.</p>
                <p>Por otro lado en su trabajo: Ideas Relativas
                    a una Fenomenología Pura y a una Filosofía
                    Fenomenológica (1913) en la Primera sección:
                    La gran Critica que hace Husserl a la psicología
                    es que se ha centrado en ser <b>una ciencia de
                    hechos, “facts”</b> en el sentido de Hume. A lo
                    que argumenta lo siguiente:</p>
                <p><b>-todo hecho particular puede ser de
                    otra manera.</b> En este punto hay que ser muy
                    cuidadosos de advertir que no se trata de una
                    manera de interpretar, no se trata de que el
                    mismo hecho pueda interpretarse de otro</p>
                <p>modo, que por supuesto se puede. Hay gente
                    que se dedica exactamente a eso. Lo que a
                    nosotros nos ocupa consiste en que el propio
                    hecho puede ser otro, algo xtraordinarío para
                    nuestra experiencia cotidiana pues ningún
                    hecho de la realidad corriente puede ser otro
                    del que es.</p>
                <p>Lo que Husserl sugiere es que para que el
                    hecho efectivamente sea como decimos que
                    es, se requiere de un sistema de relaciones
                    a partir del cual el hecho finalmente puede
                    ocurrir, como una de todas las posibilidades
                    que el sistema de relaciones habilita. Sin
                    embargo si el sistema de relaciones es otro; el
                    hecho es otro.</p>
                    
            </div>
        </div>

    </div>


    <div class="next-page">
        <a routerLink="../p6"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>