<div class="pagina">
    <div class="back">
        <a routerLink="../p11"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>

    <div class="page-content">
        <app-cabecero2></app-cabecero2>
        <h5>BIBLIOGRAFIA</h5>
        <ol>
            <li>Fenomenología de la Conciencia del Tiempo Inmanente,
                Editado por Martin Heidegger, Trad. de Otto E. Langfelder, Nova,
                Buenos Aires, 1959</li>
            <li>Ideas Relativas a una Fenomenología Pura y una Filosofía
                Fenomenológica, Trad. José Gaos, Fondo de Cultura Económica,
                México, 1949.</li>
            <li>Investigaciones Lógicas, 2 Volúmenes, Alianza, Buenos Aires,
                2005, Trad. de Manuel García Morente y José Gaos.</li>
            <li>Lógica Formal y Lógica Trascendental. Ensayo de una Crítica de
                la Razón lógica (1929), Ediciones del Centro de Estudios Filosóficos de
                la Universidad Nacional Autónoma de México, México, 1962. Trad. de
                Luis Villoro.</li>
            <li>Meditaciones Cartesianas, Ediciones Paulinas, Madrid, 1979,
                Trad. de Mario A. Presas.</li>
            <li>Invitación a la fenomenología, Barcelona-Buenos Aires-
                México, Paidós, 1992. Contiene los textos de Husserl: «El artículo
                “Fenomenología” de la Enciclopedia británica’», «La filosofía en la crisis
                de la humanidad europea» (1935), «La filosofía como autorreflexión
                de la humanidad». (ISBN 84-7509-791-X)</li>
            <li>“El origen de la geometría” (traducción de Jorge Arce y
                Rosemary Rizo-Patrón), en Estudios de Filosofía, revista de la Pontificia
                Universidad Católica del Perú/ Instituto Riva-Agüero, IV, 2000, pp. 33-
                54.</li>
            <li>Experiencia y Juicio (traducción de Jas Reuter y revisión de
                Bernabé Navarro), UNAM, México, 1980.</li>
            <li>“El espíritu común (Gemeingeist I y II)” (traducción de César
                Moreno), en Thémata, número 4, Sevilla, 1987, págs. 131-158.</li>
            <li>Problemas fundamentales de la fenomenología (traducción de
                César Moreno y Javier San Martín), Alianza Editorial, 1994.</li>
            <li>Renovación del hombre y de la cultura (traducción de Agustín
                Serrano de Haro), Anthropos Eitorial, México/ Barcelona, 2002.</li>
            <li>La tierra no se mueve (traducción de Agustín Serrano de Haro),
                Editorial Complutense, Madrid, 2006.</li>
            <li>Invitación a la fenomenología, Ediciones Paidós, Barcelona, 1990.</li>
            <li>Lecciones de fenomenología de la conciencia interna del tiempo
                (traducción de Agustín Serrano de Haro), Editorial Trotta, Madrid, 2002.</li>
            <li>La filosofía como Ciencia rigurosa. Traducción y presentación,
                Miguel García-Baró. Madrid: Ediciones Encuentro.</li>
            <li>L’idée de la phénoménologie, Paris, PUF, 1992, (ISBN 2-13-
                044860-7)</li>
            <li>La crisis de las ciencias europeas y la fenomenología trascendental.
                Una introducción a la filosofía fenomenológica (traducción de Jacobo
                Muñoz). Filosofía. Clásicos. Barcelona, Editorial Crítica, 1991.</li>
        </ol>
    </div>
    <div class="next-page">
        <a routerLink="../"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
    
</div>