<div class="pagina">
    <div class="back-page">
        <a routerLink="../pa6"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <div class="boxes">
            <div class="box-1">
                <p>Para operar con ello Lacan usa dos operaciones lógicas de la
                    Teoría de conjuntos y propone que el Sujeto es causado por el efecto
                    de esas dos operaciones.  </p>
                    <ul>
                        <li><b>La alienación</b> que responde en la teoría de
                    conjuntos a la operación unión.</li>
                    <li><b>La separación</b> que responde en la
                    teoría de conjuntos a la operación intersección</li>
                    </ul>
                <div class="ali-sep">
                        <div class="uno">
                            <img src="assets/fotos/union-inters.svg" alt="">
                        </div>
                </div>
                <p>En la operación alienación: encontramos tres posibilidades lógicas, dos
                    aportadas por la matemática y una aportada por la gramática, ésta última
                    únicamente puede ser articulada al parlëtre pues solo para él puede
                    aparecer la pérdida implicada.</p>
                    <p>Para Lacan, lo que demuestra la Teoría de conjuntos aplicada al
                        conjunto de los significantes es, por parte de la operación Unión, que
                        la puesta en funcionamiento de la cadena de significantes implica una
                        falta, algo que se pierde. <b>A esa falta que se localiza entre los significantes,
                        Lacan le llama Sujeto.</b></p>
            </div>
            <div class="box-2">
                <div>
                    <h4>Disyunción exclusiva: uno u tro</h4>
                    <p>ej. Compro el vuelo con escala  o directo.</p>
                </div>
                <div>
                    <h4>Disyunción inclusiva: uno, otro o ambos</h4>
                    <p>ej. Los aspirantes al puesto de programador pueden tener estudios o axperiencia</p>
                </div>
                <div>
                    <p><b>La bolsa o la vida</b><br>(la elección de la vida queda marcada
                        por una pérdida que solo es
                        articulable, en tanto significante,
                        al parlêtre, pues no se trata de
                        perder la bolsa sino que la propia
                        vida es afectada)</p>
                </div>
                
            </div>
        </div>
        
    </div>
    <div class="next-page">
        <a routerLink="../pa9"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>