<div class="pagina">
    <div class="back-page">
        <a routerLink="../pa3"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <div class="boxes">
            <div class="box-1">
                <p>La propuesta que Lacan desarrolla; es un modo de operar con
                    la imposibilidad estructural del lenguaje; <b>la imposibilidad de saber, a
                    priori, que significa o qué sentido tienen los fenómenos como la
                    tristeza para alguien en particular.</b>  Lo que hemos venido trabajando
                    es que tales fenómenos responden a otra materialidad, otro modo de
                    existencia imposible de ser observados empíricamente, reducir esos
                    fenómenos a elementos observables los convierte en elementos de
                    otra especie, que han logrado una cierta utilidad en prácticas como
                    en la publicidad, pero se encuentran lejos de la investigación clínica
                    formalmente planteada.</p>
                    <p>No se trata de errores en la base teórica de sus investigaciones,
                        pero hay que estar advertidos que <b>si nuestra ocupación es el sufrimiento
                        humano;</b> sería ingenuo e irresponsable tratar esos términos
                        como si fuesen palabras o nombres de cosas localizables. Conviene
                        estar advertidos que al quitar del lenguaje el significado y el sentido;
                        se pierde toda posibilidad de chiste, broma, poesía, malentendido… y a
                        eso no se le puede considerar una lengua natural.</p>
                    <p>Para el recorrido que nos ocupa (la noción de sujeto en Lacan),<b>los significantes no son palabras de una lengua,</b>
                         un significante no
                        significan nada, la propuesta de Lacan es que <b>el significante es lo que
                        representa a un Sujeto para otro significante</b> y el trabajo clínico
                        consiste en descifrar esa articulación en cada caso, para lo cual se hace
                        necesario estudiar la estructura del funcionamiento de los significantes. <b>Esa estructura es la que da cuenta de la práctica que conocemos
                        con el nombre de psicoanálisis.</b>
                        </p>
            </div>
            <div class="box-2">
                <p class="cita">Notre définition du signifiant
                    - il n’y en a pas d’autre - est :
                    un signifiant [S2], c’est ce qui
                    représente le sujet [S] pour un
                    autre signifiant [S1, absent dans
                    l’Autre].
                    (Lacan. Subversion du sujet )</p>
            </div>
        </div>
        
    </div>
    <div class="next-page">
        <a routerLink="../pa5"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>