
<div class="portada-cap3">
    <header>
        <div class="title-cap3">
            <h2>Capítulo 3</h2>
            <h2>La Noción de Sujeto en Heidegger</h2>
        </div>
        <div class="logo">
            <h4>OTM | 
                Obeth Torres Moreno</h4>
        </div>
    </header>
    <div class="links">
        <a routerLink=""> <i class="fas fa-home"></i> Home</a>
        <a routerLink="/caps"> <i class="fas fa-boxes"></i> Capitulos</a>
        <a href=""><i class="fas fa-microphone-alt"></i>   PODCAST</a>
        <a routerLink="./p12"><i class="fas fa-users"></i>   REFERENCIAS</a>
    </div>
    <app-pagination-cap3></app-pagination-cap3>
    <div class="cap-3">
        <router-outlet></router-outlet>
    </div>
    
    <app-pagination-cap3></app-pagination-cap3>
    <footer>
        <p>Proyecto de Investigación &copy; 2020</p>
    </footer>
</div>