
<div class="page3">
    <div class="back-page">
        <a routerLink="../pag2"><i class="fas fa-chevron-left fa-3x"></i></a>        
    </div>

    <div class="main-page">
        <app-cabecero></app-cabecero>

        <div class="page-content">
            
            <p>Así hasta el infinito pues la
                descripción del objeto puede no detenerse en tanto
                que el universo es potencialmente infinito.</p>
            <p><strong>este primer momento
                el fundamento de la verdad parece localizarse
                en el objeto, en las características
                que sensiblemente percibimos en el objeto,
                sus cualidades.</strong> </p>
            <p>No obstante eso otro que está allí por mediación
                del yo es lo que finalmente permanece allí y se
                mantiene “siendo” a través del tiempo. Son los universales,
                y estos son (siguiendo el texto de Hegel) lo verdadero
                de la certeza sensible.</p>
            <p>Ahora entonces, el fundamento de la
                verdad parece localizarse no en el objeto sino en
                quien describe el objeto, ya que las características
                que refiere del objeto dependen en gran medida
                de su perspectiva y localización.</p>
            <p>El problema es que para que esa consistencia
                se pueda justificar; tanto el objeto como el yo tiene
                que funcionar como si fueran entidades únicas, el yo
                solamente en calidad de este y el objeto solo en calidad
                de esto. Tal cosa finalmente resulta inconsistente
                cuando Hegel trabaja la noción del ahora. Hegel dice;
                el ahora ha sido.</p>
            <p>Tenemos entonces que tanto el ahora como
                el objeto y el yo son inaprensibles, apenas se quieren
                señalar y ya son otro. Por lo cual, si queremos justificar
                que se trata del mismo objeto, requerimos localizarlo
                conceptualmente con dos funciones:</p>
            <p>La negación: niega a todos los otros objetos
                para poder presentarse como uno distinto de todos
                los demas.</p>
            <p>la mediación: se requiere de un aparato conceptual
                que lo haga visible.</p>
            <p>Luego entonces, Hegel llega a la
                siguiente tesis;</p>
            <h4>Lo más verdadero es el Lenguaje.</h4>
            <p>El problema es que para el pensamiento corriente
                no hay nada más verdadero que lo que se ve con
                los ojos, se dice; ver para creer. Pero lo que esta planteando
                Hegel es que lo que se ve, lo que se percibe de
                manera estable y por ello con cierta consistencia de
                veracidad eso no está en el objeto ni en el observador
                y tiene la materialidad del lenguaje.</p>
            
            
        </div>
        <footer>
            <hr>
            <p>TFM | La Noción de Sujeto en el Campo de la P</p>
        </footer>
    </div>

    <div class="next-page">
        <a routerLink="../pag4"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>