<div class="pagina">
    <div class="back-page">
        <a routerLink="../pag7"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <app-cabecero></app-cabecero> 
        <div class="boxes">
            <div class="box-1">
                <p>Para este proyecto nos interesa tener como referencia dialéctica la
                    propia practica clínica. Por ello una tesis importante de esta lectura es
                    que el proceso dialectico, método de vital importancia en una investigación
                    formal, funciona en el campo del lenguaje. Es decir, que no
                    necesariamente deben estar dos personas presentes hablando para que
                    ocurra.</p>
                <p>Las partes del proceso dialéctico no las podemos ubicar entre el
                    analizante y el analista, o entre el paciente y su partenaire, o entre un empleado
                    y su jefe, etc. Las partes de la confrontación dialéctica que Hegel
                    trabaja en la dialéctica del amo y el esclavo no están dentro alguien y otro
                    alguien. Es verdad que hay dos partes enunciativas, pero aquello que implica
                    un análisis, el caso clínico, es uno y este es el que se puede localizar
                    formalmente.</p>
                <div class="parrafo-especial">
                    <h5>Hegel explica así los dos elementos de la confrontación:</h5>
                    <p class="cita">“cuando lo que primeramente aparecía como el objeto desciende en la conciencia
                        a un saber de él y cuando el en sí deviene un ser del en sí para la conciencia,
                        tenemos el nuevo objeto por medio del que surge también una nueva figura de
                        la conciencia, para la cual la esencia es ahora algo distinto de lo que era antes.
                        el nuevo objeto se revela como algo que ha llegado a ser por medio de una inversión
                        de la conciencia misma.”</p>
                    <p>lo que podemos representar con una figura topológica llamada; ocho
                        interior:</p>
                </div>
                <h5>La diferencia que plantea Hegel respecto del deseo:</h5>
                <p><b>El Deseo animal:</b>desea objetos (alimento, refugio, etc.)</p>
                <p><b>el Deseo humano:</b>desea el Deseo del Otro.</p>
                <p>Particularmente se trata, en el sentido que Hegel lo trabajó, del
                    deseo de reconocimiento. El hombre desea que el otro lo reconozca
                    como hombre, y es hombre en tanto que antepone ese deseo (el deseo
                    de reconocimiento) a su propia vida biológica y animal.</p>    
            </div>
            <div class="box-2">
                <div id="ocho-interior">
                   <img src="assets/fotos/ocho-interior.svg"> 
                </div>
                
            </div>

        </div>
        <footer>
            <hr>
            <p>TFM |</p>
        </footer>           
    </div>
   
    <div class="next-page">
        <a routerLink="../pag9"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>