<div class="pagina">
    <div class="back-page">
        <a routerLink="../page5"><i class="fas fa-chevron-left fa-3x"></i></a>
    </div>
    <div class="page-content">
        <app-cabecero></app-cabecero>
        <div class="boxes">
            <div class="box-1">
                <div>
                    <h4>EXISTENCIALES:</h4>
                    <h5>MODOS DE SER DEL DASEIN</h5> 
                </div>
                <p>Cada uno de nosotros tiene una cierta comprensión de las cosas
                    que 'nos' existen y nos comportamos de tal o cual manera en función
                    de esa comprensión. Ahora bien, corrientemente comprendemos las
                    cosas desde lo que Heidegger llama la cotidianidad. También sugiere
                    que no desechemos esa comprensión tan fácilmente pues es desde ella donde se da el modo cotidiano del ser-símismo,
                    el sujeto de la cotidianidad: el uno.
                    Que en nuestro ejemplo respecto al dinero, sería
                    el modo en que nosotros nos manejamos de
                    tal o cual manera con el dinero, sabemos que es,
                    cómo usarlo etc.</p>
                <p>Pero también sabemos que hay una disciplina
                    de estudio, la Economía, donde seguramente
                    entienden el dinero de maneras más
                    complejas que nosotros, lo que supone que su
                    cotidianidad y la nuestra es muy distinta, pero
                    lo que realmente nos resulta interesante para la
                    clínica es cuando ese modo de ser cotidiano se
                    ve interrumpido, cuando el mundo se abre en el
                    Dasein, así como se abrió la Economía en lo que
                    ahora llamamos Escuela Austriaca de Economía,
                    que tentativamente podemos localizar esa apertura
                    en personas como Ludwing Von Mises, Fritz
                    Machlup o el economista español Jesús Huerta
                    de Soto... Pero hacemos esa localización sin perder
                    de vista que la apertura se dio en tanto Dasein
                    no en las personas, por ello es más apropiado
                    hablar de un movimiento científico o de una
                    escuela y no de la genialidad de alguien.</p>
                <p>En esa línea de argumentación es que Heidegger
                    propone que antes de poder trabajar con
                    nociones como las de sujeto (paciente, analista,
                    analizante, profesor, hombre, ciudadano, etc.)
                    Habría que hacer un trabajo ontológico fundamental
                    y para ello Heidegger sugiere un nuevo
                    modo de comprender: el <b>comprender existencial.</b>
                    Este nuevo comprender Heidegger lo va a
                    trabajar en torno a una serie de nociones que
                    finalmente llama <b>existenciales</b>. Que son estructuras
                    originarias con el Dasein, es decir no son
                    características de la persona o el mundo, sino
                    que <b>son estructuras del sujeto en tanto Dasein;</b>
                    surgen con el Dasein, su existencia es la
                    existencia del Dasein.</p>
                <p>Cada uno de estos existenciales supone un
                    trabajo delicado que habría que revisar, no obstante
                    para este recorrido nos ocuparemos solamente
                    de uno, precisamente el que se llama El
                    “Uno” [Das Man]. otra de sus acepciones que nos
                    facilita la lectura y que ya hemos estado revisando
                    es <b>“el sujeto de la cotidianidad”.</b></p>
                
            </div>
            <div class="box-2">
                <div>
                    <h5>Modos de ser del Dasein</h5>
                    <ul>
                        <li>Estar-en</li>
                        <li>Ocuparse [Bersorgen]</li>
                        <li>Cuidado [Fürsorge]</li>
                        <li>Mundaneidad</li>
                        <li>Des-alejación [Ent-fernung]</li>
                        <li>El Uno [das Man]</li>
                        <li>Estado de ánimo [Befindlichkeit]</li>
                        <li>Comprender [Verstehen]</li>
                        <li>El Sentido</li>
                        <li>El Discurso [Rede]</li>
                     </ul>
                </div>
                
            </div>
        </div>
        
        <app-pie></app-pie>
    </div>
    <div class="next-page">
        <a routerLink="../page7"><i class="fas fa-chevron-right fa-3x"></i></a>
    </div>
</div>